<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<!--<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>-->
<html xmlns='http://www.w3.org/1999/xhtml' lang='en' xml:lang='en'>
<head>
	<title>My BookMarks</title>
 	<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
	<meta name='author' lang='it' content='Alessandra Bilardi' />
	<meta name='description' content='My BookMarks' />	
	<meta name='keywords' content='journal, assotiation, centre, group, istitute, database, engine, link, research, search, stem cell, unipd, zebrafish, mouse, rat, bacteria, phage, bioinformatic, analysis, sequence, secondary structure, tool, cribi, padova, university, padua, bilardi, tutorial, program, c, delphi, html, latex, linux, Mysql, perl, php, python, R, calendar, custom, custom calendar, photo, recurence' />
	<meta name='revised' content='Alessandra Bilardi,05-11-2010' />
	<meta name='robots' content='all' />
	<link rel='stylesheet' type='text/css' href='css/bookmarks.css' />
	<script type='text/javascript' src='js/babylon.js'></script>
	<script type='text/javascript' src='js/menu.js'></script>
</head>
<body>
	<table class='top'>
		<tr>
			<td class='img'><a href='#' target='baby'><img src='20070509090911.JPG' width='80' border='0' alt='MyBABY'/></a></td>
			<td class='banner'><a href='http://validator.w3.org/check?uri=referer'><img src='https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/bookmarks-v1.0/index/xhtml.gif' alt='Valid XHTML 1.0 Transitional' border='0'/></a><br/><a href='http://jigsaw.w3.org/css-validator/check/referer'><img src='https://s3-eu-west-1.amazonaws.com/cdn.bilardi.net/bookmarks-v1.0/index/css.gif' alt='Valid CSS!' border='0' /></a><br/><!-- Inizio Codice Shinystat --><script type='text/javascript' language='JavaScript' src='https://codice.shinystat.com/cgi-bin/getcod.cgi?USER=bilardi'></script><noscript><a href='http://www.shinystat.com' target='_top'><img src='https://www.shinystat.com/cgi-bin/shinystat.cgi?USER=bilardi' alt='Free web counters' border='0'/></a></noscript><!-- Fine Codice Shinystat --></td>
			<td><p class='date'><script type='text/javascript' src='js/date.js'></script></p></td>
		</tr>
                <tr>
			<td colspan='2'><hr/></td>
			<td></td>		
                </tr>
		<tr>
			<td colspan='3'>
				
<table>
	<tr>
		<td>
			<div class='menu'>
				<a onmouseover="showit(1,1)">    Biological links</a><br/><a onmouseover="showit(29,1)">    Languages Tutorial</a><br/><a onmouseover="showit(57,1)">    eJournal</a><br/><a onmouseover="showit(58,1)">    eMail</a><br/><a onmouseover="showit(59,1)">    Didactic</a><br/><a onmouseover="showit(60,1)">    Language</a><br/><a onmouseover="showit(62,1)">    Informative</a><br/><a onmouseover="showit(63,1)">    Image Manipulation</a><br/><a onmouseover="showit(72,1)">    Forum</a><br/><a onmouseover="showit(74,1)">    Chat</a><br/><a onmouseover="showit(77,1)">    Search</a><br/><a onmouseover="showit(78,1)">    Shopping</a><br/><a onmouseover="showit(81,1)">    Travel</a><br/><a onmouseover="showit(82,1)">    -Ware</a><br/><a onmouseover="showit(83,1)">    Other</a><br/><a onmouseover="showit(93,1)">    Mine</a><br/><a onmouseover="showit(94,1)">    Bookmarks Toolbar</a><br/>
			</div>
		</td>
		<td>
			<table>
				<tr>
					<td><div id='a' class='menu'></div></td>
					<td><div id='b' class='menu'></div></td>
					<td><div id='c' class='menu'></div></td>
					<td><div id='d' class='menu'></div></td>
				</tr>
			</table>
		</td>
	</tr>
</table>

			</td>
		</tr>
		<tr>
			<td colspan='3'>&nbsp;
			</td>
		</tr>
	</table>
</body>
</html>
