.demo2-box1 {
  background-color: teal;
  width: 100px;
  height: 100px;
  font-size: 25px; 
  /* border:  5px solid black; */
  /* box-sizing: border-box; */
  /* padding: 10px; */
  /* margin: 20px; */
}
.demo2-box2 {
  background-color: red;
  width: 100px;
  height: 100px;
  font-size: 25px; 
}