.demo5-container {
  background-color: #2b2d2f;
  display: grid;
  height: 500px;
  /* GRID TEMPLATE IMPLEMENATION */
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
  row-gap: 5px;
  column-gap: 4px;

  /* GRID AREA IMPLEMENTATION */
  /* grid-template-areas:
    "top1 top2 top2"
    "mid1 mid2 mid3"
    "bot1 bot2 bot3"
    "top3 top3 top3 "; */

  /* move Grid around container */
  justify-content: center;
  align-content: center;
}

.demo5-element {
  /* margin: 5px; */
  padding: 20px;
  font-size: 36px;
  border: red solid 2px;
  background-color: white;
}


#demo5-box2 {
  /* grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4; */


  /* grid-column: 2 / 4;
  grid-row: 1 / 3; */

  /* grid-area: 1 / 2 / 3 /4 ; */
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

/* #demo5-box1 {
  grid-area: top1;
  background-color: blue;
}
#demo5-box2 {
  grid-area: top2;
}
#demo5-box3 { 
  grid-area: top3;
}
#demo5-box4 {
  grid-area: mid1;
}
#demo5-box5 {
  grid-area: mid2;
}
#demo5-box6 {
  grid-area: mid3;
}
#demo5-box7 {
  grid-area: bot1;
}
#demo5-box8 {
  grid-area: bot2;
}
#demo5-box9 {
  grid-area: bot3;
} */