/* Large and up */
@media screen and (min-width: 64em) {
  #cover-home{
    .container{
      margin-top: 20px;
      width: 70%;
      max-width: 900px;
      .row{
        display: flex;
        padding: 32px;
        .photo{
          width: 35%;
          padding-right: 16px;
        }
        .bio{
          width: 65%;
          .greet{
            margin-top: 0px;
          }
          h3{
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}