$lightGrey: hsla(0, 0%, 90%, 1);
$darkGrey: hsla(0, 0%, 18%, 1);
$pink: hsla(340, 88%, 60%, 1);
$green: hsla(154, 85%, 44%, 1);
$blue: hsla(194, 98%, 44%, 1);
$orange: hsla(38, 95%, 55%, 1);

$backgroundColor: $darkGrey;

body {
  background: $backgroundColor;
}

#container {
  width: 300px;
  height: 200px;
  padding: 20px;
  margin: 0px auto;
  background: hsla(0, 0%, 18%, 1);
}

#midi-data {
  position: relative;
  overflow: hidden;
  height: 200px;
  margin-bottom: 30px;
  background: transparentize(white, 0.1);
  border: 10px solid $pink;
  ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 1em;
    li {
      padding: 0.2em 0.2em 0.2em 1em;
      font-size: 1.2em;
      font-family: monospace;
      &:last-child,
      &:nth-last-child(2) {
        font-weight: bold;
        animation: flash 1s;
        &:before {
          content: "> ";
          margin-left: -1em;
        }
      }
    }
  }
}
@keyframes flash {
  0% {
    color: $pink;
  }
  100% {
    color: black;
  }
}

#octave {
  box-shadow: 0px 0px 1px 1px lightgrey;
  overflow: hidden;
  position: relative;
  i,
  b {
    display: inline-block;
    position: relative;
    z-index: 5;
    box-shadow: 1px 1px darkgrey;
    color: transparent;
  }
  i {
    width: 34px;
    height: 176px;
    background: white;
  }
  b {
    z-index: 10;
    width: 26px;
    height: 104px;
    margin: 0px -15px;
    background: black;
  }
  .key-last {
    position: absolute;
    top: 0px;
    right: 0px;
  }
}
