.post .headerImage,
.post p > img {
  border-radius: 1rem 1.3rem 0 0;
}
.post .date {
  margin: 1.875rem 0 1.5rem;
  color: var(--light-grey);
}
.post .author a {
  display: inline-flex;
  padding: 0 0.5rem;
  background-color: var(--white);
  border-radius: 0.75em;
  text-decoration: none;
  font-size: 1rem;
  color: var(--light-grey);
  margin-right: 1em;
  &:hover,
  &:focus {
    background-color: var(--off-white);
    color: var(--dark-grey);
  }
}
.post h1 {
  margin-bottom: var(--x-small);
}
.post .author img {
  margin: 0 0.5em 0 0;
  place-self: center;
}
.post .share {
  border-top: 1px solid var(--divider);
  margin: 3rem 0;
}
.post .share,
.post .share ul {
  display: flex;
  list-style-type: none;
}
.post .share li,
.post .share h4 {
  margin: 1rem 1rem 1rem 0;
}

/* This div wraps around the blog article contents */
.post > div:first-of-type {
  margin-top: 2.5rem;
}
