.footer__container {
  background: var(--off-white);
}

.footer {
  padding: var(--large) var(--xx-small);
  font-size: var(--p-xsmall);
  sup {
    font-size: inherit;
  }

  @media (min-width: 769px) {
    max-width: 760px;
    margin: auto;
    padding: var(--small) var(--xx-small);
  }
  @media (min-width: 56.25rem) {
    max-width: 56.25rem;
  }
}

.footer__entries {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: var(--small);

  @media (max-width: 768px) {
    padding-bottom: var(--micro);
  }
}

.footer__entries li:first-child {
  font-weight: 600;
  color: var(--black);
}

.footer__entries li:not(:last-child) {
  margin-bottom: var(--macro);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  border-top: var(--border-light);
  padding-top: var(--x-small);

  @media (max-width: 768px) {
    padding-top: var(--xx-small);
  }

  @media (max-width: 300px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.footer__copy {
  display: flex;
  align-items: center;

  @media (max-width: 300px) {
    margin-top: var(--micro);
  }
}
.footer__copy span {
  margin-left: var(--macro);
}

.footer__social {
  display: flex;
}

.footer__social-link:not(:last-child) {
  margin-right: var(--micro);
}

.footer ul {
  @media (max-width: 768px) {
    margin-bottom: var(--xx-small);
  }

  @media (max-width: 500px) {
    flex: 0 0 34%;
  }
}

.footer .logo-wrapper {
  position: relative;
  top: -1px;
  z-index: 0;
}

.footer sup {
  color: var(--brand-ripe);
}

.footer a {
  color: var(--dark-grey);
  text-decoration: none;
}
.footer a:hover,
.footer a:focus {
  color: var(--black);
}
