<h1><span data-i18n="skills.my_skills">Who I am</span></h1>

<div>
  I'm a Data & Automation Specialist at Pixartprinting, a big European web-to-print company. And when I can, I'm a mentor for a local Coderdojo. I wrote my first code in GWbasic on T1000 with MS-DOS 2.11, when I was eight years old. And I dissected an animal a lot of time before.. I have a Bsc in biological science, physiopathological area and a PhD in biotechnology, bioinformatics area. I love the technical approach and learn new languages and storage services. I'm curious, sensible and precise. I play without breaks when I can develop or automate applications by extreme programming, testops, devops and applying the standards. Studying, playing, learning and sharing are my legs. Where I'll go, it depends only from the next challenge you will throw me.
</div>

<h1><span data-i18n="skills.my_skills">I think so, and you?</span></h1>

<div>
  I think that the traditional resume is very barren, but I'm agree that it is important to summarize your highlights in one handful of lines. So in these pages I have integrated that I think it could be interesting in a resume: I think that the sharing is the basic for shaping the better work methodology for a new team. Then it is important how I can do the difference together at the next team with my <a href="{{ site.url }}/skills" alt="know-how">know-how</a> and my <a href="{{ site.url }}/projects" alt="projects">experience</a>.
</div>
<div>
  Orandum est ut sit mens sana in corpore sano.. or no prayers and take care of your body for to have a healthy mind? I think that it is like: do you prefer vim or emacs? Or did it come first, the chicken or the egg? So the answer is subjective and there is not one truth. For me, the seconds are my answers. And I think that the smart working is not subjective: if you are relaxed, you do more. So why not use the conference call and decrease your presence in the office? Your presence is important, but not all days. And if you not use the car, you have more free time and you are more happy! So I think that the middle between the two pies is the best way.
</div>
