section.timeline{
  background: white;
  padding: 32px 32px 0px 32px;
  margin: 0 auto;
  max-width: 900px;
  box-sizing: border-box;
  box-shadow: 0px 6px 20px rgba(black, .5);
  > h1{
    margin-top: 0px;
  }
  > ul{
    margin: 0px;
    padding: 30px 0px;
    list-style: none;
    position: relative;
    // The line
    &:before{
      content: '';
      position: absolute;
      top: 0px;
      bottom: 0px;
      width: 10px;
      background: $nb-color-primary;
      left: 134px;
      margin-left: -10px;
      display: none;
    }
    > li{
      position: relative;
      margin-bottom: 10px; 
      .point{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .icon{
        position: relative;
        display: block;
        width: 40px;
        height: 40px;
        color: white;
        background: $nb-color-primary;
        box-shadow: 0 0 0 8px rgba($nb-color-primary, .5);
        text-align: center;
        border-radius: 100%;
        margin: 10px 0px 10px 10px;
        i{
          line-height: 45px;
        }
      }
      time{
        span{
          font-size: 1.4em;
          text-align: left;
          font-weight: bold;
          text-transform: capitalize;
          color: rgba($nb-color-primary, .7);
        }
      }
      article{
        background: $nb-color-primary;
        border-radius: 5px;
        position: relative;
        color: white;
        padding: 16px;
        &:before{
          content: " ";
          right: auto;
          border: solid transparent;
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-right-color: transparent;
          border-bottom-color: $nb-color-primary;
          border-width: 10px;
          top: -20px;
          left: 40px;
        }
        figure{
          margin: 0px;
          figcaption{
            display: none;
          }
        }
        h2{
          margin: 0px 0px 5px 0px;
          border-bottom: 1px solid white;
        }
        small{
          text-transform: capitalize;
        }
        .item{
         margin: 5px 0px;
         color: white;
        }
        .location{
          font-size: .8em;
        }
      }
    }
  }
}
@import
"timeline_medium",
"timeline_large";