@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  section.timeline{
    margin-top: 20px;
    width: 90%;
    > ul{
      &:before{
        display: block;
        top: 45px;
      }
      > li{
        display: flex;
        align-items: baseline;
        .point{
          width: 160px;
          display: inline-flex;
        }
        article{
          width: 100%;
          margin-left: 50px;
          &:before{
            border-right-color: $nb-color-primary;
            border-bottom-color: transparent;
            top: 15px;
            left: -20px;
          }
        }
      }
    }
  }
}