<header>
  <p class="alert">Entérate sobre las últimas noticias de Ionic/Angular en <a href="https://blog.ng-classroom.com/blog/" target="_blank">ng-classroom.com</a></p>
  <div id="navbar">
    <nav class="navbar">
      <div class="left-nav">
        <a href="{{ "/"  | prepend: site.baseurl }}" class="title">
          <amp-img src="{{ "/images/glasses.png"  | prepend: site.baseurl }}" alt="nicobytes" width="178" height="80" layout="responsive"></amp-img>
          @nicobytes
        </a>
      </div>
      <div class="right-nav">
        {% for link in site.links %}<div class="tab {% if page.title == link.title %}active{% endif %}">
          <a href="{{ link.url | prepend: site.baseurl }}" target="{{link.target}}">{{ link.title }}</a>
        </div>{% endfor %}
        <button class="tab menu" on='tap:sidebar.toggle'></button>
      </div>
    </nav>
  </div>
</header>