#navbar{
  background-color: $nb-color-primary;
  display: flex;
  align-items: center;
  nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    .left-nav{
      text-align: left;
      width: auto;
      font-size: 15px;
      align-items: center;
      .title{
        padding-left: 16px;
        display: flex;
        color: white;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        amp-img{
          width: 80px;
        }
      }
    }
    .right-nav{
      text-align: right;
      display: flex;
      align-items: center;
      div.tab{
        display: none;
        padding: 0px 16px;
        &.active{
          border-bottom: 2px solid white;
        }
        a{
          color: white;
          text-decoration: none;
          font-weight: bold;
        }
      }
    }
  }
}
@import
"nav_bar_medium",
"nav_bar_large";