/*///////*/
/* Icons */
/*///////*/

.search-btn > i:before {
  padding-left: 2px;
}

.google-icon:before {
  display: block;
  content: ' ';
  background-image: url('../images/google-logo.svg');
  background-size: 26px 26px;
  height: 26px;
  width: 26px;
}

.instagram-icon:before {
  display: block;
  content: ' ';
  background-image: url('../images/instagram-logo.svg');
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}

/*
.instagram-icon > i {
  background: radial-gradient(circle at 30% 107%, #ffdc80 0%, #fcaf45 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.4rem;
}
*/

.youtube-icon > i {
  color: #ff0000;
}

.twitch-icon > i {
  color: #6441a4;
}

.twitter-icon > i {
  color: #1da1f2;
}

.soundcloud-icon > i {
  color: #fe5000;
}

.facebook-icon > i {
  font-size: 1.45rem;
  color: #4267b2;
}

.wiki-icon > i {
  color: #000;
  padding-top: 2px;
  font-size: 1rem;
}