@import url("https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font: 18px "Roboto", sans-serif;
}

.gist,
h1,
#app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 20px;
  color: #666;
  text-align: center;
  font-size: 32px;
}

.filter-css {
  display: block;
  width: 100%;
  height: 110px;
  margin: 30px 0 0;
  padding: 10px 15px;
  border: 1px dashed #ccc;
  font: 15px/1.5 "Roboto Mono", monospace;
  resize: none;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filter-control {
  width: 100%;
  margin-top: 20px;

  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
  }
}

.filter-inputs {
  display: flex;
  align-items: center;
}

.filter-range {
  flex: 1;
}

.filter-number {
  width: 60px;
  margin-left: 10px;
  text-align: right;
  font: 15px/1.5 "Roboto Mono", monospace;
}

.filter-unit {
  margin-left: 5px;
  width: 30px;
}

@media only screen and (min-width: 600px) {
  .filter-css {
    height: 90px;
  }

  .filter-control {
    width: calc(50% - 20px);
  }
}
