<!DOCTYPE html>
<html amp lang="en">{% include head.html %}
  <body>
    <amp-image-lightbox id="lightbox" layout="nodisplay"></amp-image-lightbox>
    {% include sidebar.html %} {% include nav.html %} {{ content }}
    <amp-analytics type="googleanalytics" id="analytics-ga">
    <script type="application/json">
    {
      "vars": {
        "account": "UA-78905438-1"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
    </amp-analytics>
  </body>
</html>
