---
layout: default
title: 'Charlas'
permalink: /talks/
---
<section class="timeline">
  <h1>Talks</h1>
  <p>Todos los meetups, cursos, workshops y conferencias que he dado las veras abajo:</p>
  <ul class="timeline">
    {% for talk in site.talks %}
    <li>
      <div class="point">
        <time datetime="{{ talk.date }}">
          <span>{{ talk.date | date: "%d/%b/%y"  }}</span>
        </time>
        <div class="icon"><i class="icon-{{talk.type}}"></i></div>
      </div>
      <article>
        <small class="type">{{talk.type}}</small>
        <h2>{{talk.title}}</h2>
        <div class="item location"><i class="icon-location"></i> {{talk.location}}</div>
        {% if talk.image %}
        <figure>
          <amp-img on="tap:lightbox" role="button" tabindex="0" src="{{talk.image.url}}" alt="nicobytes" width="{{talk.image.width}}" height="{{talk.image.height}}" layout="responsive"></amp-img>
          <figcaption>{{talk.title}}</figcaption>
        </figure>
        {% endif %}
        {% if talk.youtube %}<amp-youtube width="480" height="270" layout=responsive data-videoid="{{talk.youtube}}"> </amp-youtube>{% endif %}
        {% if talk.tweet %}<amp-twitter width="375" height="472" layout="responsive" data-tweetid="{{talk.tweet}}"></amp-twitter>{% endif %}
        <p>{{ talk.text }}</p>
        {% if talk.slides %}<a href="{{talk.slides}}" target="_blank" class="item"><i class="icon-slides"></i> Slides</a>{% endif %}
      </article>
    </li>
    {% endfor %}
  </ul>
</section>
