.mdc-card__mdc-elevation-overlay__2u8ec {
	position: absolute;
	border-radius: inherit;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}
.mdc-card__mdc-card__3snx1 {
	border-radius: 4px;
	background-color: #fff;
	background-color: var(--mdc-theme-surface, #fff);
	position: relative;
	-webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 1px 3px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 1px 3px 0 rgba(0, 0, 0, 0.12);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mdc-card__mdc-card__3snx1 .mdc-card__mdc-elevation-overlay__2u8ec {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.mdc-card__mdc-card--outlined__10Ayt {
	-webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
		0 0 0 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
	border: 1px solid #e0e0e0;
}
.mdc-card__mdc-card__media__3EuKK {
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-repeat: no-repeat;
	background-position: 50%;
	background-size: cover;
}
.mdc-card__mdc-card__media__3EuKK:before {
	display: block;
	content: '';
}
.mdc-card__mdc-card__media__3EuKK:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.mdc-card__mdc-card__media__3EuKK:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
.mdc-card__mdc-card__media--square__3M6A9:before {
	margin-top: 100%;
}
.mdc-card__mdc-card__media--16-9__1b4ID:before {
	margin-top: 56.25%;
}
.mdc-card__mdc-card__media-content__uK8h6 {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mdc-card__mdc-card__primary-action__38RHL {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	outline: none;
	color: inherit;
	text-decoration: none;
	cursor: pointer;
	overflow: hidden;
}
.mdc-card__mdc-card__primary-action__38RHL:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.mdc-card__mdc-card__primary-action__38RHL:last-child {
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}
.mdc-card__mdc-card__actions__RYmOt {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 52px;
	padding: 8px;
}
.mdc-card__mdc-card__actions--full-bleed__2EW-F {
	padding: 0;
}
.mdc-card__mdc-card__action-buttons__8Xw6-,
.mdc-card__mdc-card__action-icons__GrJ20 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mdc-card__mdc-card__action-icons__GrJ20 {
	color: rgba(0, 0, 0, 0.6);
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}
.mdc-card__mdc-card__action-buttons__8Xw6- + .mdc-card__mdc-card__action-icons__GrJ20 {
	margin-left: 16px;
	margin-right: 0;
}
.mdc-card__mdc-card__action-buttons__8Xw6- + .mdc-card__mdc-card__action-icons__GrJ20[dir='rtl'],
[dir='rtl'] .mdc-card__mdc-card__action-buttons__8Xw6- + .mdc-card__mdc-card__action-icons__GrJ20 {
	margin-left: 0;
	margin-right: 16px;
}
.mdc-card__mdc-card__action__xzVKu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mdc-card__mdc-card__action__xzVKu:focus {
	outline: none;
}
.mdc-card__mdc-card__action--button__1jLls {
	margin-left: 0;
	margin-right: 8px;
	padding: 0 8px;
}
.mdc-card__mdc-card__action--button__1jLls[dir='rtl'],
[dir='rtl'] .mdc-card__mdc-card__action--button__1jLls {
	margin-left: 8px;
	margin-right: 0;
}
.mdc-card__mdc-card__action--button__1jLls:last-child {
	margin-left: 0;
	margin-right: 0;
}
.mdc-card__mdc-card__action--button__1jLls:last-child[dir='rtl'],
[dir='rtl'] .mdc-card__mdc-card__action--button__1jLls:last-child {
	margin-left: 0;
	margin-right: 0;
}
.mdc-card__mdc-card__actions--full-bleed__2EW-F .mdc-card__mdc-card__action--button__1jLls {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	height: auto;
	max-height: none;
	margin: 0;
	padding: 8px 16px;
	text-align: left;
}
.mdc-card__mdc-card__actions--full-bleed__2EW-F
	.mdc-card__mdc-card__action--button__1jLls[dir='rtl'],
[dir='rtl']
	.mdc-card__mdc-card__actions--full-bleed__2EW-F
	.mdc-card__mdc-card__action--button__1jLls {
	text-align: right;
}
.mdc-card__mdc-card__action--icon__3L8Zx {
	margin: -6px 0;
	padding: 12px;
}
.mdc-card__mdc-card__action--icon__3L8Zx:not(:disabled) {
	color: rgba(0, 0, 0, 0.6);
}
@-webkit-keyframes mdc-card__mdc-ripple-fg-radius-in__1yW0V {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@keyframes mdc-card__mdc-ripple-fg-radius-in__1yW0V {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@-webkit-keyframes mdc-card__mdc-ripple-fg-opacity-in__8jVfU {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@keyframes mdc-card__mdc-ripple-fg-opacity-in__8jVfU {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@-webkit-keyframes mdc-card__mdc-ripple-fg-opacity-out__2D7xZ {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
@keyframes mdc-card__mdc-ripple-fg-opacity-out__2D7xZ {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
.mdc-card__mdc-card__primary-action__38RHL {
	--mdc-ripple-fg-size: 0;
	--mdc-ripple-left: 0;
	--mdc-ripple-top: 0;
	--mdc-ripple-fg-scale: 1;
	--mdc-ripple-fg-translate-end: 0;
	--mdc-ripple-fg-translate-start: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mdc-card__mdc-card__primary-action__38RHL:after,
.mdc-card__mdc-card__primary-action__38RHL:before {
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	content: '';
}
.mdc-card__mdc-card__primary-action__38RHL:before {
	-webkit-transition: opacity 15ms linear, background-color 15ms linear;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1;
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded__GZT23:before {
	-webkit-transform: scale(1);
	-webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
	transform: scale(1);
	transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded__GZT23:after {
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded--unbounded__37he3:after {
	top: 0;
	top: var(--mdc-ripple-top, 0);
	left: 0;
	left: var(--mdc-ripple-left, 0);
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded--foreground-activation__2Ia5q:after {
	-webkit-animation: mdc-card__mdc-ripple-fg-radius-in__1yW0V 225ms forwards,
		mdc-card__mdc-ripple-fg-opacity-in__8jVfU 75ms forwards;
	animation: mdc-card__mdc-ripple-fg-radius-in__1yW0V 225ms forwards,
		mdc-card__mdc-ripple-fg-opacity-in__8jVfU 75ms forwards;
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded--foreground-deactivation__1Ib0-:after {
	-webkit-animation: mdc-card__mdc-ripple-fg-opacity-out__2D7xZ 0.15s;
	animation: mdc-card__mdc-ripple-fg-opacity-out__2D7xZ 0.15s;
	-webkit-transform: translate(0) scale(1);
	-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
		scale(var(--mdc-ripple-fg-scale, 1));
	transform: translate(0) scale(1);
	transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-card__mdc-card__primary-action__38RHL:after,
.mdc-card__mdc-card__primary-action__38RHL:before {
	top: calc(50% - 100%);
	left: calc(50% - 100%);
	width: 200%;
	height: 200%;
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded__GZT23:after {
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%);
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-card__mdc-card__primary-action__38RHL:after,
.mdc-card__mdc-card__primary-action__38RHL:before {
	background-color: #000;
}
.mdc-card__mdc-card__primary-action__38RHL:hover:before {
	opacity: 0.04;
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded--background-focused__2tD4N:before,
.mdc-card__mdc-card__primary-action__38RHL:not(.mdc-card__mdc-ripple-upgraded__GZT23):focus:before {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.12;
}
.mdc-card__mdc-card__primary-action__38RHL:not(.mdc-card__mdc-ripple-upgraded__GZT23):after {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.mdc-card__mdc-card__primary-action__38RHL:not(.mdc-card__mdc-ripple-upgraded__GZT23):active:after {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.12;
}
.mdc-card__mdc-card__primary-action__38RHL.mdc-card__mdc-ripple-upgraded__GZT23 {
	--mdc-ripple-fg-opacity: 0.12;
}
.mdc-typography__mdc-typography__3s25q {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(--mdc-typography-font-family, Roboto, sans-serif);
}
.mdc-typography__mdc-typography--headline1__1Scdu {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline1-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 6rem;
	font-size: var(--mdc-typography-headline1-font-size, 6rem);
	line-height: 6rem;
	line-height: var(--mdc-typography-headline1-line-height, 6rem);
	font-weight: 300;
	font-weight: var(--mdc-typography-headline1-font-weight, 300);
	letter-spacing: -0.015625em;
	letter-spacing: var(--mdc-typography-headline1-letter-spacing, -0.015625em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline1-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline1-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline1-text-transform, inherit);
}
.mdc-typography__mdc-typography--headline2__QkCDS {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 3.75rem;
	font-size: var(--mdc-typography-headline2-font-size, 3.75rem);
	line-height: 3.75rem;
	line-height: var(--mdc-typography-headline2-line-height, 3.75rem);
	font-weight: 300;
	font-weight: var(--mdc-typography-headline2-font-weight, 300);
	letter-spacing: -0.0083333333em;
	letter-spacing: var(--mdc-typography-headline2-letter-spacing, -0.0083333333em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline2-text-transform, inherit);
}
.mdc-typography__mdc-typography--headline3__3hHwC {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline3-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 3rem;
	font-size: var(--mdc-typography-headline3-font-size, 3rem);
	line-height: 3.125rem;
	line-height: var(--mdc-typography-headline3-line-height, 3.125rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-headline3-font-weight, 400);
	letter-spacing: normal;
	letter-spacing: var(--mdc-typography-headline3-letter-spacing, normal);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline3-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline3-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline3-text-transform, inherit);
}
.mdc-typography__mdc-typography--headline4__6T6_f {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline4-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 2.125rem;
	font-size: var(--mdc-typography-headline4-font-size, 2.125rem);
	line-height: 2.5rem;
	line-height: var(--mdc-typography-headline4-line-height, 2.5rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-headline4-font-weight, 400);
	letter-spacing: 0.0073529412em;
	letter-spacing: var(--mdc-typography-headline4-letter-spacing, 0.0073529412em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline4-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline4-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline4-text-transform, inherit);
}
.mdc-typography__mdc-typography--headline5__2Ofe3 {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline5-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1.5rem;
	font-size: var(--mdc-typography-headline5-font-size, 1.5rem);
	line-height: 2rem;
	line-height: var(--mdc-typography-headline5-line-height, 2rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-headline5-font-weight, 400);
	letter-spacing: normal;
	letter-spacing: var(--mdc-typography-headline5-letter-spacing, normal);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline5-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline5-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline5-text-transform, inherit);
}
.mdc-typography__mdc-typography--headline6__1vW-p {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline6-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1.25rem;
	font-size: var(--mdc-typography-headline6-font-size, 1.25rem);
	line-height: 2rem;
	line-height: var(--mdc-typography-headline6-line-height, 2rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-headline6-font-weight, 500);
	letter-spacing: 0.0125em;
	letter-spacing: var(--mdc-typography-headline6-letter-spacing, 0.0125em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline6-text-transform, inherit);
}
.mdc-typography__mdc-typography--subtitle1__1j54C {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-subtitle1-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1rem;
	font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
	line-height: 1.75rem;
	line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
	letter-spacing: 0.009375em;
	letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
}
.mdc-typography__mdc-typography--subtitle2__3CAQ_ {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-subtitle2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
	line-height: 1.375rem;
	line-height: var(--mdc-typography-subtitle2-line-height, 1.375rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
	letter-spacing: 0.0071428571em;
	letter-spacing: var(--mdc-typography-subtitle2-letter-spacing, 0.0071428571em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-subtitle2-text-transform, inherit);
}
.mdc-typography__mdc-typography--body1__3yHDp {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body1-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1rem;
	font-size: var(--mdc-typography-body1-font-size, 1rem);
	line-height: 1.5rem;
	line-height: var(--mdc-typography-body1-line-height, 1.5rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body1-font-weight, 400);
	letter-spacing: 0.03125em;
	letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body1-text-transform, inherit);
}
.mdc-typography__mdc-typography--body2__1dVes {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-body2-font-size, 0.875rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-body2-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body2-font-weight, 400);
	letter-spacing: 0.0178571429em;
	letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body2-text-transform, inherit);
}
.mdc-typography__mdc-typography--caption__cEhFP {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-caption-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.75rem;
	font-size: var(--mdc-typography-caption-font-size, 0.75rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-caption-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-caption-font-weight, 400);
	letter-spacing: 0.0333333333em;
	letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-caption-text-transform, inherit);
}
.mdc-typography__mdc-typography--button__1wGWz {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-button-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-button-font-size, 0.875rem);
	line-height: 2.25rem;
	line-height: var(--mdc-typography-button-line-height, 2.25rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-button-font-weight, 500);
	letter-spacing: 0.0892857143em;
	letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
	-webkit-text-decoration: none;
	-webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
	text-decoration: none;
	text-decoration: var(--mdc-typography-button-text-decoration, none);
	text-transform: uppercase;
	text-transform: var(--mdc-typography-button-text-transform, uppercase);
}
.mdc-typography__mdc-typography--overline__3VufX {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-overline-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.75rem;
	font-size: var(--mdc-typography-overline-font-size, 0.75rem);
	line-height: 2rem;
	line-height: var(--mdc-typography-overline-line-height, 2rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-overline-font-weight, 500);
	letter-spacing: 0.1666666667em;
	letter-spacing: var(--mdc-typography-overline-letter-spacing, 0.1666666667em);
	-webkit-text-decoration: none;
	-webkit-text-decoration: var(--mdc-typography-overline-text-decoration, none);
	text-decoration: none;
	text-decoration: var(--mdc-typography-overline-text-decoration, none);
	text-transform: uppercase;
	text-transform: var(--mdc-typography-overline-text-transform, uppercase);
}
.card-m__root__31igC {
	background: var(--mdc-raised-surface-background);
	color: var(--mdc-text-color);
}
.card-m__actions__3GfMW {
	padding: 0 1rem 1rem;
}
.card-m__actionIcons__3ltWG {
	color: var(--mdc-text-color);
}
.card-m__content__34wHm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.card-m__content__34wHm:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.card-m__contentWrapper__A1pWU {
	padding: 0 1rem 8px;
	color: var(--mdc-text-secondary-color);
}
.card-m__header__1qGGJ {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.card-m__header__1qGGJ,
.card-m__titleWrapper__2J9ph {
	padding: 0 1rem 8px;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.card-m__media___ie1r {
	margin-bottom: 1rem;
}
.card-m__media___ie1r:first-child {
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.card-m__mediaSquare__g5axG:before {
	margin-top: 100%;
}
.card-m__media16by9__CDLyY:before {
	margin-top: 56.25%;
}
.card-m__media___ie1r:before {
	display: block;
	content: '';
}
.card-m__title__2paOY {
	margin: 0;
}
.card-m__subtitle__3I8Kd {
	color: var(--mdc-text-secondary-color);
	margin: 0;
}
/*# sourceMappingURL=card.m.css.map*/
