.mdc-dialog__mdc-elevation-overlay__3zNyK {
	position: absolute;
	border-radius: inherit;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}
.mdc-dialog__mdc-dialog__3mSM3,
.mdc-dialog__mdc-dialog__scrim__3mpyd {
	position: fixed;
	top: 0;
	left: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.mdc-dialog__mdc-dialog__3mSM3 {
	display: none;
	z-index: 7;
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
	background-color: #fff;
	background-color: var(--mdc-theme-surface, #fff);
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__scrim__3mpyd {
	background-color: rgba(0, 0, 0, 0.32);
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__title__MGv8h {
	color: rgba(0, 0, 0, 0.87);
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__content__3dWFp {
	color: rgba(0, 0, 0, 0.6);
}
.mdc-dialog__mdc-dialog__3mSM3.mdc-dialog__mdc-dialog--scrollable__1mFxx
	.mdc-dialog__mdc-dialog__actions__2y5mv,
.mdc-dialog__mdc-dialog__3mSM3.mdc-dialog__mdc-dialog--scrollable__1mFxx
	.mdc-dialog__mdc-dialog__title__MGv8h {
	border-color: rgba(0, 0, 0, 0.12);
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
	min-width: 280px;
}
@media (max-width: 592px) {
	.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
		max-width: calc(100vw - 32px);
	}
}
@media (min-width: 592px) {
	.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
		max-width: 560px;
	}
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
	max-height: calc(100% - 32px);
}
.mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
	border-radius: 4px;
}
.mdc-dialog__mdc-dialog__scrim__3mpyd {
	opacity: 0;
	z-index: -1;
}
.mdc-dialog__mdc-dialog__container__3ZWyw {
	-webkit-box-orient: horizontal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 100%;
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	pointer-events: none;
}
.mdc-dialog__mdc-dialog__container__3ZWyw,
.mdc-dialog__mdc-dialog__surface__3e3UU {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-direction: normal;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.mdc-dialog__mdc-dialog__surface__3e3UU {
	position: relative;
	-webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
		0 9px 46px 8px rgba(0, 0, 0, 0.12);
	box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14),
		0 9px 46px 8px rgba(0, 0, 0, 0.12);
	-webkit-box-orient: vertical;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	max-width: 100%;
	max-height: 100%;
	pointer-events: auto;
	overflow-y: auto;
}
.mdc-dialog__mdc-dialog__surface__3e3UU .mdc-dialog__mdc-elevation-overlay__3zNyK {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.mdc-dialog__mdc-dialog__3mSM3[dir='rtl'] .mdc-dialog__mdc-dialog__surface__3e3UU,
[dir='rtl'] .mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__surface__3e3UU {
	text-align: right;
}
.mdc-dialog__mdc-dialog__title__MGv8h {
	line-height: normal;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline6-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1.25rem;
	font-size: var(--mdc-typography-headline6-font-size, 1.25rem);
	line-height: 2rem;
	line-height: var(--mdc-typography-headline6-line-height, 2rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-headline6-font-weight, 500);
	letter-spacing: 0.0125em;
	letter-spacing: var(--mdc-typography-headline6-letter-spacing, 0.0125em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline6-text-transform, inherit);
	display: block;
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0 24px 9px;
	border-bottom: 1px solid transparent;
}
.mdc-dialog__mdc-dialog__title__MGv8h:before {
	display: inline-block;
	width: 0;
	height: 40px;
	content: '';
	vertical-align: 0;
}
.mdc-dialog__mdc-dialog__3mSM3[dir='rtl'] .mdc-dialog__mdc-dialog__title__MGv8h,
[dir='rtl'] .mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__title__MGv8h {
	text-align: right;
}
.mdc-dialog__mdc-dialog--scrollable__1mFxx .mdc-dialog__mdc-dialog__title__MGv8h {
	padding-bottom: 15px;
}
.mdc-dialog__mdc-dialog__content__3dWFp {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body1-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1rem;
	font-size: var(--mdc-typography-body1-font-size, 1rem);
	line-height: 1.5rem;
	line-height: var(--mdc-typography-body1-line-height, 1.5rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body1-font-weight, 400);
	letter-spacing: 0.03125em;
	letter-spacing: var(--mdc-typography-body1-letter-spacing, 0.03125em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body1-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body1-text-transform, inherit);
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 24px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.mdc-dialog__mdc-dialog__content__3dWFp > :first-child {
	margin-top: 0;
}
.mdc-dialog__mdc-dialog__content__3dWFp > :last-child {
	margin-bottom: 0;
}
.mdc-dialog__mdc-dialog__title__MGv8h + .mdc-dialog__mdc-dialog__content__3dWFp {
	padding-top: 0;
}
.mdc-dialog__mdc-dialog--scrollable__1mFxx .mdc-dialog__mdc-dialog__content__3dWFp {
	padding-top: 8px;
	padding-bottom: 8px;
}
.mdc-dialog__mdc-dialog__content__3dWFp .mdc-dialog__mdc-list__3luDE:first-child:last-child {
	padding: 6px 0 0;
}
.mdc-dialog__mdc-dialog--scrollable__1mFxx
	.mdc-dialog__mdc-dialog__content__3dWFp
	.mdc-dialog__mdc-list__3luDE:first-child:last-child {
	padding: 0;
}
.mdc-dialog__mdc-dialog__actions__2y5mv {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 52px;
	margin: 0;
	padding: 8px;
	border-top: 1px solid transparent;
}
.mdc-dialog__mdc-dialog--stacked__1wC5T .mdc-dialog__mdc-dialog__actions__2y5mv {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}
.mdc-dialog__mdc-dialog__button__2ebn3 {
	margin-left: 8px;
	margin-right: 0;
	max-width: 100%;
	text-align: right;
}
.mdc-dialog__mdc-dialog__button__2ebn3[dir='rtl'],
[dir='rtl'] .mdc-dialog__mdc-dialog__button__2ebn3 {
	margin-left: 0;
	margin-right: 8px;
}
.mdc-dialog__mdc-dialog__button__2ebn3:first-child {
	margin-left: 0;
	margin-right: 0;
}
.mdc-dialog__mdc-dialog__button__2ebn3:first-child[dir='rtl'],
[dir='rtl'] .mdc-dialog__mdc-dialog__button__2ebn3:first-child {
	margin-left: 0;
	margin-right: 0;
}
.mdc-dialog__mdc-dialog__3mSM3[dir='rtl'] .mdc-dialog__mdc-dialog__button__2ebn3,
[dir='rtl'] .mdc-dialog__mdc-dialog__3mSM3 .mdc-dialog__mdc-dialog__button__2ebn3 {
	text-align: left;
}
.mdc-dialog__mdc-dialog--stacked__1wC5T .mdc-dialog__mdc-dialog__button__2ebn3:not(:first-child) {
	margin-top: 12px;
}
.mdc-dialog__mdc-dialog--closing__1Q0_D,
.mdc-dialog__mdc-dialog--open__3vyKN,
.mdc-dialog__mdc-dialog--opening__3Sj6E {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.mdc-dialog__mdc-dialog--opening__3Sj6E .mdc-dialog__mdc-dialog__scrim__3mpyd {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.mdc-dialog__mdc-dialog--opening__3Sj6E .mdc-dialog__mdc-dialog__container__3ZWyw {
	transition: opacity 75ms linear, -webkit-transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
	-webkit-transition: opacity 75ms linear, -webkit-transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: opacity 75ms linear, transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: opacity 75ms linear, transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms,
		-webkit-transform 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
}
.mdc-dialog__mdc-dialog--closing__1Q0_D .mdc-dialog__mdc-dialog__container__3ZWyw,
.mdc-dialog__mdc-dialog--closing__1Q0_D .mdc-dialog__mdc-dialog__scrim__3mpyd {
	-webkit-transition: opacity 75ms linear;
	transition: opacity 75ms linear;
}
.mdc-dialog__mdc-dialog--closing__1Q0_D .mdc-dialog__mdc-dialog__container__3ZWyw {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.mdc-dialog__mdc-dialog--open__3vyKN .mdc-dialog__mdc-dialog__scrim__3mpyd {
	opacity: 1;
}
.mdc-dialog__mdc-dialog--open__3vyKN .mdc-dialog__mdc-dialog__container__3ZWyw {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
.mdc-dialog__mdc-dialog-scroll-lock__3e66t {
	overflow: hidden;
}
.dialog-m__main__1mAK3 {
	outline: 0;
}
.dialog-m__root__37QFO .dialog-m__main__1mAK3 {
	background-color: var(--mdc-raised-surface-background);
}
.dialog-m__title__2LrC6 {
	padding-top: 20px;
}
.dialog-m__root__37QFO .dialog-m__title__2LrC6 {
	color: var(--mdc-text-color);
}
.dialog-m__title__2LrC6:before {
	display: none;
}
.dialog-m__root__37QFO .dialog-m__content__1ylAQ {
	color: var(--mdc-secondary-text-color);
}
.dialog-m__close__LTUo7 {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0;
	padding: 8px;
	position: absolute;
	right: 16px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.dialog-m__closeIcon__CyqVT {
	font-size: 1.25rem;
	color: var(--mdc-secondary-text-color);
}
.dialog-m__closeIcon__CyqVT:hover {
	color: var(--mdc-text-color);
}
/*# sourceMappingURL=dialog.m.css.map*/
