.mdc-fab__mdc-touch-target-wrapper__YmtWX {
	display: inline;
}
.mdc-fab__mdc-elevation-overlay__2lg7E {
	position: absolute;
	border-radius: inherit;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}
.mdc-fab__mdc-fab__3Km-U {
	-webkit-box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
		0 1px 18px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14),
		0 1px 18px 0 rgba(0, 0, 0, 0.12);
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 56px;
	height: 56px;
	padding: 0;
	border: none;
	fill: currentColor;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	overflow: visible;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
		-webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
	-webkit-transition: opacity 15ms linear 30ms,
		-webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: opacity 15ms linear 30ms, -webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
		transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
		transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms,
		-webkit-box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1),
		-webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
	transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
		transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms,
		-webkit-transform 0.27s cubic-bezier(0, 0, 0.2, 1) 0ms;
	background-color: #018786;
	background-color: var(--mdc-theme-secondary, #018786);
	color: #fff;
	color: var(--mdc-theme-on-secondary, #fff);
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-elevation-overlay__2lg7E {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.mdc-fab__mdc-fab__3Km-U:not(.mdc-fab__mdc-fab--extended__37bwr) {
	border-radius: 50%;
}
.mdc-fab__mdc-fab__3Km-U:not(.mdc-fab__mdc-fab--extended__37bwr) .mdc-fab__mdc-fab__ripple__LKPT2 {
	border-radius: 50%;
}
.mdc-fab__mdc-fab__3Km-U::-moz-focus-inner {
	padding: 0;
	border: 0;
}
.mdc-fab__mdc-fab__3Km-U:focus,
.mdc-fab__mdc-fab__3Km-U:hover {
	-webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.mdc-fab__mdc-fab__3Km-U:active {
	-webkit-box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14),
		0 5px 22px 4px rgba(0, 0, 0, 0.12);
	box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14),
		0 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.mdc-fab__mdc-fab__3Km-U:active,
.mdc-fab__mdc-fab__3Km-U:focus {
	outline: none;
}
.mdc-fab__mdc-fab__3Km-U:hover {
	cursor: pointer;
}
.mdc-fab__mdc-fab__3Km-U > svg {
	width: 100%;
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__icon__2Ww3X {
	width: 24px;
	height: 24px;
	font-size: 24px;
}
.mdc-fab__mdc-fab--mini__1qQlw {
	width: 40px;
	height: 40px;
}
.mdc-fab__mdc-fab--extended__37bwr {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-button-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-button-font-size, 0.875rem);
	line-height: 2.25rem;
	line-height: var(--mdc-typography-button-line-height, 2.25rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-button-font-weight, 500);
	letter-spacing: 0.0892857143em;
	letter-spacing: var(--mdc-typography-button-letter-spacing, 0.0892857143em);
	-webkit-text-decoration: none;
	-webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
	text-decoration: none;
	text-decoration: var(--mdc-typography-button-text-decoration, none);
	text-transform: uppercase;
	text-transform: var(--mdc-typography-button-text-transform, uppercase);
	border-radius: 24px;
	padding: 0 20px;
	width: auto;
	max-width: 100%;
	height: 48px;
	line-height: normal;
}
.mdc-fab__mdc-fab--extended__37bwr .mdc-fab__mdc-fab__ripple__LKPT2 {
	border-radius: 24px;
}
.mdc-fab__mdc-fab--extended__37bwr .mdc-fab__mdc-fab__icon__2Ww3X {
	margin-left: -8px;
	margin-right: 12px;
}
.mdc-fab__mdc-fab--extended__37bwr .mdc-fab__mdc-fab__icon__2Ww3X[dir='rtl'],
[dir='rtl'] .mdc-fab__mdc-fab--extended__37bwr .mdc-fab__mdc-fab__icon__2Ww3X {
	margin-left: 12px;
	margin-right: -8px;
}
.mdc-fab__mdc-fab--extended__37bwr
	.mdc-fab__mdc-fab__label__2DoV2
	+ .mdc-fab__mdc-fab__icon__2Ww3X {
	margin-left: 12px;
	margin-right: -8px;
}
.mdc-fab__mdc-fab--extended__37bwr
	.mdc-fab__mdc-fab__label__2DoV2
	+ .mdc-fab__mdc-fab__icon__2Ww3X[dir='rtl'],
[dir='rtl']
	.mdc-fab__mdc-fab--extended__37bwr
	.mdc-fab__mdc-fab__label__2DoV2
	+ .mdc-fab__mdc-fab__icon__2Ww3X {
	margin-left: -8px;
	margin-right: 12px;
}
.mdc-fab__mdc-fab--touch__1F4zR {
	margin: 4px;
}
.mdc-fab__mdc-fab--touch__1F4zR .mdc-fab__mdc-fab__touch__-bxhc {
	position: absolute;
	top: 50%;
	right: 0;
	height: 48px;
	left: 50%;
	width: 48px;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.mdc-fab__mdc-fab__label__2DoV2 {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	overflow-y: visible;
}
.mdc-fab__mdc-fab__icon__2Ww3X {
	transition: -webkit-transform 0.18s cubic-bezier(0, 0, 0.2, 1) 90ms;
	-webkit-transition: -webkit-transform 0.18s cubic-bezier(0, 0, 0.2, 1) 90ms;
	transition: transform 0.18s cubic-bezier(0, 0, 0.2, 1) 90ms;
	transition: transform 0.18s cubic-bezier(0, 0, 0.2, 1) 90ms,
		-webkit-transform 0.18s cubic-bezier(0, 0, 0.2, 1) 90ms;
	fill: currentColor;
	will-change: transform;
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__icon__2Ww3X {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.mdc-fab__mdc-fab--exited__3u897 {
	-webkit-transform: scale(0);
	transform: scale(0);
	opacity: 0;
	transition: opacity 15ms linear 0.15s, -webkit-transform 0.18s cubic-bezier(0.4, 0, 1, 1) 0ms;
	-webkit-transition: opacity 15ms linear 0.15s,
		-webkit-transform 0.18s cubic-bezier(0.4, 0, 1, 1) 0ms;
	transition: opacity 15ms linear 0.15s, transform 0.18s cubic-bezier(0.4, 0, 1, 1) 0ms;
	transition: opacity 15ms linear 0.15s, transform 0.18s cubic-bezier(0.4, 0, 1, 1) 0ms,
		-webkit-transform 0.18s cubic-bezier(0.4, 0, 1, 1) 0ms;
}
.mdc-fab__mdc-fab--exited__3u897 .mdc-fab__mdc-fab__icon__2Ww3X {
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: -webkit-transform 135ms cubic-bezier(0.4, 0, 1, 1) 0ms;
	-webkit-transition: -webkit-transform 135ms cubic-bezier(0.4, 0, 1, 1) 0ms;
	transition: transform 135ms cubic-bezier(0.4, 0, 1, 1) 0ms;
	transition: transform 135ms cubic-bezier(0.4, 0, 1, 1) 0ms,
		-webkit-transform 135ms cubic-bezier(0.4, 0, 1, 1) 0ms;
}
@-webkit-keyframes mdc-fab__mdc-ripple-fg-radius-in__9qmIl {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@keyframes mdc-fab__mdc-ripple-fg-radius-in__9qmIl {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@-webkit-keyframes mdc-fab__mdc-ripple-fg-opacity-in__2uNOw {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@keyframes mdc-fab__mdc-ripple-fg-opacity-in__2uNOw {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@-webkit-keyframes mdc-fab__mdc-ripple-fg-opacity-out__1APva {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
@keyframes mdc-fab__mdc-ripple-fg-opacity-out__1APva {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
.mdc-fab__mdc-fab__3Km-U {
	--mdc-ripple-fg-size: 0;
	--mdc-ripple-left: 0;
	--mdc-ripple-top: 0;
	--mdc-ripple-fg-scale: 1;
	--mdc-ripple-fg-translate-end: 0;
	--mdc-ripple-fg-translate-start: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:after,
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:before {
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	content: '';
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:before {
	-webkit-transition: opacity 15ms linear, background-color 15ms linear;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1;
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded__1OSRh
	.mdc-fab__mdc-fab__ripple__LKPT2:before {
	-webkit-transform: scale(1);
	-webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
	transform: scale(1);
	transform: scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded__1OSRh
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded--unbounded__3_p9I
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	top: 0;
	top: var(--mdc-ripple-top, 0);
	left: 0;
	left: var(--mdc-ripple-left, 0);
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded--foreground-activation__1QH-l
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	-webkit-animation: mdc-fab__mdc-ripple-fg-radius-in__9qmIl 225ms forwards,
		mdc-fab__mdc-ripple-fg-opacity-in__2uNOw 75ms forwards;
	animation: mdc-fab__mdc-ripple-fg-radius-in__9qmIl 225ms forwards,
		mdc-fab__mdc-ripple-fg-opacity-in__2uNOw 75ms forwards;
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded--foreground-deactivation__3Mj7D
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	-webkit-animation: mdc-fab__mdc-ripple-fg-opacity-out__1APva 0.15s;
	animation: mdc-fab__mdc-ripple-fg-opacity-out__1APva 0.15s;
	-webkit-transform: translate(0) scale(1);
	-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
		scale(var(--mdc-ripple-fg-scale, 1));
	transform: translate(0) scale(1);
	transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:after,
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:before {
	top: calc(50% - 100%);
	left: calc(50% - 100%);
	width: 200%;
	height: 200%;
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded__1OSRh
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%);
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:after,
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2:before {
	background-color: #fff;
	background-color: var(--mdc-theme-on-secondary, #fff);
}
.mdc-fab__mdc-fab__3Km-U:hover .mdc-fab__mdc-fab__ripple__LKPT2:before {
	opacity: 0.08;
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded--background-focused__HOX3O
	.mdc-fab__mdc-fab__ripple__LKPT2:before,
.mdc-fab__mdc-fab__3Km-U:not(.mdc-fab__mdc-ripple-upgraded__1OSRh):focus
	.mdc-fab__mdc-fab__ripple__LKPT2:before {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.24;
}
.mdc-fab__mdc-fab__3Km-U:not(.mdc-fab__mdc-ripple-upgraded__1OSRh)
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.mdc-fab__mdc-fab__3Km-U:not(.mdc-fab__mdc-ripple-upgraded__1OSRh):active
	.mdc-fab__mdc-fab__ripple__LKPT2:after {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.24;
}
.mdc-fab__mdc-fab__3Km-U.mdc-fab__mdc-ripple-upgraded__1OSRh {
	--mdc-ripple-fg-opacity: 0.24;
}
.mdc-fab__mdc-fab__3Km-U .mdc-fab__mdc-fab__ripple__LKPT2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
}
.floating-action-button-m__label__1FNZH {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
/*# sourceMappingURL=floating-action-button.m.css.map*/
