@-webkit-keyframes mdc-menu__mdc-ripple-fg-radius-in__2IKQo {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@keyframes mdc-menu__mdc-ripple-fg-radius-in__2IKQo {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@-webkit-keyframes mdc-menu__mdc-ripple-fg-opacity-in__uOUnQ {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@keyframes mdc-menu__mdc-ripple-fg-opacity-in__uOUnQ {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@-webkit-keyframes mdc-menu__mdc-ripple-fg-opacity-out__2bSFT {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
@keyframes mdc-menu__mdc-ripple-fg-opacity-out__2bSFT {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
.mdc-menu__mdc-elevation-overlay__2xNwh {
	position: absolute;
	border-radius: inherit;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	transition: opacity 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	background-color: #fff;
}
.mdc-menu__mdc-menu__vcrav {
	min-width: 112px;
}
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list-item__graphic__1Fjex,
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list-item__meta__2AHmg {
	color: rgba(0, 0, 0, 0.87);
}
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list__3vWp4 {
	color: rgba(0, 0, 0, 0.87);
	position: relative;
}
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list__3vWp4 .mdc-menu__mdc-elevation-overlay__2xNwh {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list-divider__3_iNV {
	margin: 8px 0;
}
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list-item__2kt4j {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.mdc-menu__mdc-menu__vcrav .mdc-menu__mdc-list-item--disabled__-hAVt {
	cursor: auto;
}
.mdc-menu__mdc-menu__vcrav
	a.mdc-menu__mdc-list-item__2kt4j
	.mdc-menu__mdc-list-item__graphic__1Fjex,
.mdc-menu__mdc-menu__vcrav a.mdc-menu__mdc-list-item__2kt4j .mdc-menu__mdc-list-item__text__3BCgO {
	pointer-events: none;
}
.mdc-menu__mdc-menu__selection-group__efjFE {
	padding: 0;
	fill: currentColor;
}
.mdc-menu__mdc-menu__selection-group__efjFE .mdc-menu__mdc-list-item__2kt4j {
	padding-left: 56px;
	padding-right: 16px;
}
.mdc-menu__mdc-menu__selection-group__efjFE .mdc-menu__mdc-list-item__2kt4j[dir='rtl'],
[dir='rtl'] .mdc-menu__mdc-menu__selection-group__efjFE .mdc-menu__mdc-list-item__2kt4j {
	padding-left: 16px;
	padding-right: 56px;
}
.mdc-menu__mdc-menu__selection-group__efjFE .mdc-menu__mdc-menu__selection-group-icon__1oavS {
	left: 16px;
	right: auto;
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.mdc-menu__mdc-menu__selection-group__efjFE
	.mdc-menu__mdc-menu__selection-group-icon__1oavS[dir='rtl'],
[dir='rtl']
	.mdc-menu__mdc-menu__selection-group__efjFE
	.mdc-menu__mdc-menu__selection-group-icon__1oavS {
	left: auto;
	right: 16px;
}
.mdc-menu__mdc-menu-item--selected__RCFL4 .mdc-menu__mdc-menu__selection-group-icon__1oavS {
	display: inline;
}
.mdc-list__mdc-list__31_Va {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-subtitle1-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1rem;
	font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
	line-height: 1.75rem;
	line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
	letter-spacing: 0.009375em;
	letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
	line-height: 1.5rem;
	margin: 0;
	padding: 8px 0;
	list-style-type: none;
	color: rgba(0, 0, 0, 0.87);
	color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}
.mdc-list__mdc-list__31_Va:focus {
	outline: none;
}
.mdc-list__mdc-list-item__3Vksq {
	height: 48px;
}
.mdc-list__mdc-list-item__secondary-text__1bNS0 {
	color: rgba(0, 0, 0, 0.54);
	color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, 0.54));
}
.mdc-list__mdc-list-item__graphic__2Iszi {
	background-color: transparent;
	color: rgba(0, 0, 0, 0.38);
	color: var(--mdc-theme-text-icon-on-background, rgba(0, 0, 0, 0.38));
}
.mdc-list__mdc-list-item__meta__3lYsy {
	color: rgba(0, 0, 0, 0.38);
	color: var(--mdc-theme-text-hint-on-background, rgba(0, 0, 0, 0.38));
}
.mdc-list__mdc-list-group__subheader__21YyX {
	color: rgba(0, 0, 0, 0.87);
	color: var(--mdc-theme-text-primary-on-background, rgba(0, 0, 0, 0.87));
}
.mdc-list__mdc-list-item--disabled__1Vp9w .mdc-list__mdc-list-item__text__CPBuw {
	opacity: 0.38;
}
.mdc-list__mdc-list-item--disabled__1Vp9w .mdc-list__mdc-list-item__primary-text__Dmn-e,
.mdc-list__mdc-list-item--disabled__1Vp9w .mdc-list__mdc-list-item__secondary-text__1bNS0,
.mdc-list__mdc-list-item--disabled__1Vp9w .mdc-list__mdc-list-item__text__CPBuw {
	color: #000;
	color: var(--mdc-theme-on-surface, #000);
}
.mdc-list__mdc-list--dense__38a-n {
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 0.812rem;
}
.mdc-list__mdc-list-item__3Vksq {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding: 0 16px;
	overflow: hidden;
}
.mdc-list__mdc-list-item__3Vksq:focus {
	outline: none;
}
.mdc-list__mdc-list-item--activated__hw1YP,
.mdc-list__mdc-list-item--activated__hw1YP .mdc-list__mdc-list-item__graphic__2Iszi,
.mdc-list__mdc-list-item--selected__wH00h,
.mdc-list__mdc-list-item--selected__wH00h .mdc-list__mdc-list-item__graphic__2Iszi {
	color: #6200ee;
	color: var(--mdc-theme-primary, #6200ee);
}
.mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 0;
	margin-right: 32px;
	width: 24px;
	height: 24px;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	fill: currentColor;
}
.mdc-list__mdc-list-item__3Vksq[dir='rtl'] .mdc-list__mdc-list-item__graphic__2Iszi,
[dir='rtl'] .mdc-list__mdc-list-item__3Vksq .mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 32px;
	margin-right: 0;
}
.mdc-list__mdc-list__31_Va .mdc-list__mdc-list-item__graphic__2Iszi {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.mdc-list__mdc-list-item__meta__3lYsy {
	margin-left: auto;
	margin-right: 0;
}
.mdc-list__mdc-list-item__meta__3lYsy:not(.mdc-list__material-icons__3SUbq) {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-caption-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.75rem;
	font-size: var(--mdc-typography-caption-font-size, 0.75rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-caption-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-caption-font-weight, 400);
	letter-spacing: 0.0333333333em;
	letter-spacing: var(--mdc-typography-caption-letter-spacing, 0.0333333333em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-caption-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-caption-text-transform, inherit);
}
.mdc-list__mdc-list-item__3Vksq[dir='rtl'] .mdc-list__mdc-list-item__meta__3lYsy,
[dir='rtl'] .mdc-list__mdc-list-item__3Vksq .mdc-list__mdc-list-item__meta__3lYsy {
	margin-left: 0;
	margin-right: auto;
}
.mdc-list__mdc-list-item__text__CPBuw {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.mdc-list__mdc-list-item__text__CPBuw[for] {
	pointer-events: none;
}
.mdc-list__mdc-list-item__primary-text__Dmn-e {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0;
	line-height: normal;
	margin-bottom: -20px;
	display: block;
}
.mdc-list__mdc-list-item__primary-text__Dmn-e:before {
	display: inline-block;
	width: 0;
	height: 32px;
	content: '';
	vertical-align: 0;
}
.mdc-list__mdc-list-item__primary-text__Dmn-e:after {
	display: inline-block;
	width: 0;
	height: 20px;
	content: '';
	vertical-align: -20px;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__primary-text__Dmn-e {
	display: block;
	margin-top: 0;
	line-height: normal;
	margin-bottom: -20px;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__primary-text__Dmn-e:before {
	display: inline-block;
	width: 0;
	height: 24px;
	content: '';
	vertical-align: 0;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__primary-text__Dmn-e:after {
	display: inline-block;
	width: 0;
	height: 20px;
	content: '';
	vertical-align: -20px;
}
.mdc-list__mdc-list-item__secondary-text__1bNS0 {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-body2-font-size, 0.875rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-body2-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body2-font-weight, 400);
	letter-spacing: 0.0178571429em;
	letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body2-text-transform, inherit);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-top: 0;
	line-height: normal;
	display: block;
}
.mdc-list__mdc-list-item__secondary-text__1bNS0:before {
	display: inline-block;
	width: 0;
	height: 20px;
	content: '';
	vertical-align: 0;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__secondary-text__1bNS0 {
	display: block;
	margin-top: 0;
	line-height: normal;
	font-size: inherit;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__secondary-text__1bNS0:before {
	display: inline-block;
	width: 0;
	height: 20px;
	content: '';
	vertical-align: 0;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__3Vksq {
	height: 40px;
}
.mdc-list__mdc-list--dense__38a-n .mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 0;
	margin-right: 36px;
	width: 20px;
	height: 20px;
}
.mdc-list__mdc-list-item__3Vksq[dir='rtl']
	.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__graphic__2Iszi,
[dir='rtl']
	.mdc-list__mdc-list-item__3Vksq
	.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 36px;
	margin-right: 0;
}
.mdc-list__mdc-list--avatar-list__GqpKu .mdc-list__mdc-list-item__3Vksq {
	height: 56px;
}
.mdc-list__mdc-list--avatar-list__GqpKu .mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 0;
	margin-right: 16px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.mdc-list__mdc-list-item__3Vksq[dir='rtl']
	.mdc-list__mdc-list--avatar-list__GqpKu
	.mdc-list__mdc-list-item__graphic__2Iszi,
[dir='rtl']
	.mdc-list__mdc-list-item__3Vksq
	.mdc-list__mdc-list--avatar-list__GqpKu
	.mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 16px;
	margin-right: 0;
}
.mdc-list__mdc-list--two-line__3jQQR .mdc-list__mdc-list-item__text__CPBuw {
	-ms-flex-item-align: start;
	align-self: flex-start;
}
.mdc-list__mdc-list--two-line__3jQQR .mdc-list__mdc-list-item__3Vksq {
	height: 72px;
}
.mdc-list__mdc-list--avatar-list__GqpKu.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__3Vksq,
.mdc-list__mdc-list--two-line__3jQQR.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__3Vksq {
	height: 60px;
}
.mdc-list__mdc-list--avatar-list__GqpKu.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 0;
	margin-right: 20px;
	width: 36px;
	height: 36px;
}
.mdc-list__mdc-list-item__3Vksq[dir='rtl']
	.mdc-list__mdc-list--avatar-list__GqpKu.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__graphic__2Iszi,
[dir='rtl']
	.mdc-list__mdc-list-item__3Vksq
	.mdc-list__mdc-list--avatar-list__GqpKu.mdc-list__mdc-list--dense__38a-n
	.mdc-list__mdc-list-item__graphic__2Iszi {
	margin-left: 20px;
	margin-right: 0;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq {
	cursor: pointer;
}
a.mdc-list__mdc-list-item__3Vksq {
	color: inherit;
	text-decoration: none;
}
.mdc-list__mdc-list-divider__Yr9i2 {
	height: 0;
	margin: 0;
	border: none;
	border-bottom: 1px solid;
	border-bottom-color: rgba(0, 0, 0, 0.12);
}
.mdc-list__mdc-list-divider--padded__2F5Pd {
	margin: 0 16px;
}
.mdc-list__mdc-list-divider--inset__3wkNh {
	margin-left: 72px;
	margin-right: 0;
	width: calc(100% - 72px);
}
.mdc-list__mdc-list-group__-pTZN[dir='rtl'] .mdc-list__mdc-list-divider--inset__3wkNh,
[dir='rtl'] .mdc-list__mdc-list-group__-pTZN .mdc-list__mdc-list-divider--inset__3wkNh {
	margin-left: 0;
	margin-right: 72px;
}
.mdc-list__mdc-list-divider--inset__3wkNh.mdc-list__mdc-list-divider--padded__2F5Pd {
	width: calc(100% - 72px - 16px);
}
.mdc-list__mdc-list-group__-pTZN .mdc-list__mdc-list__31_Va {
	padding: 0;
}
.mdc-list__mdc-list-group__subheader__21YyX {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-subtitle1-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1rem;
	font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
	line-height: 1.75rem;
	line-height: var(--mdc-typography-subtitle1-line-height, 1.75rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
	letter-spacing: 0.009375em;
	letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
	margin: calc((3rem - 1.5rem) / 2) 16px;
}
@-webkit-keyframes mdc-list__mdc-ripple-fg-radius-in__1AyJX {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@keyframes mdc-list__mdc-ripple-fg-radius-in__1AyJX {
	0% {
		-webkit-animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0))
			scale(var(--mdc-ripple-fg-scale, 1));
	}
}
@-webkit-keyframes mdc-list__mdc-ripple-fg-opacity-in__4IR41 {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@keyframes mdc-list__mdc-ripple-fg-opacity-in__4IR41 {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
}
@-webkit-keyframes mdc-list__mdc-ripple-fg-opacity-out__bavfx {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
@keyframes mdc-list__mdc-ripple-fg-opacity-out__bavfx {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0);
	}
	to {
		opacity: 0;
	}
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq {
	--mdc-ripple-fg-size: 0;
	--mdc-ripple-left: 0;
	--mdc-ripple-top: 0;
	--mdc-ripple-fg-scale: 1;
	--mdc-ripple-fg-translate-end: 0;
	--mdc-ripple-fg-translate-start: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:before {
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	content: '';
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:before {
	-webkit-transition: opacity 15ms linear, background-color 15ms linear;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded__1C23s:before {
	-webkit-transform: scale(1);
	-webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
	transform: scale(1);
	transform: scale(var(--mdc-ripple-fg-scale, 1));
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded__1C23s:after {
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded--unbounded__2a9U0:after {
	top: 0;
	top: var(--mdc-ripple-top, 0);
	left: 0;
	left: var(--mdc-ripple-left, 0);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded--foreground-activation__38u5p:after {
	-webkit-animation: mdc-list__mdc-ripple-fg-radius-in__1AyJX 225ms forwards,
		mdc-list__mdc-ripple-fg-opacity-in__4IR41 75ms forwards;
	animation: mdc-list__mdc-ripple-fg-radius-in__1AyJX 225ms forwards,
		mdc-list__mdc-ripple-fg-opacity-in__4IR41 75ms forwards;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded--foreground-deactivation__Yr9uU:after {
	-webkit-animation: mdc-list__mdc-ripple-fg-opacity-out__bavfx 0.15s;
	animation: mdc-list__mdc-ripple-fg-opacity-out__bavfx 0.15s;
	-webkit-transform: translate(0) scale(1);
	-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
		scale(var(--mdc-ripple-fg-scale, 1));
	transform: translate(0) scale(1);
	transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:before {
	top: calc(50% - 100%);
	left: calc(50% - 100%);
	width: 200%;
	height: 200%;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded__1C23s:after {
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%);
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:before {
	background-color: #000;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:hover:before {
	opacity: 0.04;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded--background-focused__3N-Hk:before,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:not(.mdc-list__mdc-ripple-upgraded__1C23s):focus:before {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.12;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:not(.mdc-list__mdc-ripple-upgraded__1C23s):after {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq:not(.mdc-list__mdc-ripple-upgraded__1C23s):active:after {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.12;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item__3Vksq.mdc-list__mdc-ripple-upgraded__1C23s {
	--mdc-ripple-fg-opacity: 0.12;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:before {
	opacity: 0.12;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:before {
	background-color: #6200ee;
	background-color: var(--mdc-theme-primary, #6200ee);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:hover:before {
	opacity: 0.16;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP.mdc-list__mdc-ripple-upgraded--background-focused__3N-Hk:before,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:not(.mdc-list__mdc-ripple-upgraded__1C23s):focus:before {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.24;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:not(.mdc-list__mdc-ripple-upgraded__1C23s):after {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP:not(.mdc-list__mdc-ripple-upgraded__1C23s):active:after {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.24;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--activated__hw1YP.mdc-list__mdc-ripple-upgraded__1C23s {
	--mdc-ripple-fg-opacity: 0.24;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:before {
	opacity: 0.08;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:before {
	background-color: #6200ee;
	background-color: var(--mdc-theme-primary, #6200ee);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:hover:before {
	opacity: 0.12;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h.mdc-list__mdc-ripple-upgraded--background-focused__3N-Hk:before,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:not(.mdc-list__mdc-ripple-upgraded__1C23s):focus:before {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.2;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:not(.mdc-list__mdc-ripple-upgraded__1C23s):after {
	-webkit-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h:not(.mdc-list__mdc-ripple-upgraded__1C23s):active:after {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.2;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> :not(.mdc-list__mdc-list-item--disabled__1Vp9w).mdc-list__mdc-list-item--selected__wH00h.mdc-list__mdc-ripple-upgraded__1C23s {
	--mdc-ripple-fg-opacity: 0.2;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_) > .mdc-list__mdc-list-item--disabled__1Vp9w {
	--mdc-ripple-fg-size: 0;
	--mdc-ripple-left: 0;
	--mdc-ripple-top: 0;
	--mdc-ripple-fg-scale: 1;
	--mdc-ripple-fg-translate-end: 0;
	--mdc-ripple-fg-translate-start: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_) > .mdc-list__mdc-list-item--disabled__1Vp9w:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w:before {
	position: absolute;
	border-radius: 50%;
	opacity: 0;
	pointer-events: none;
	content: '';
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w:before {
	-webkit-transition: opacity 15ms linear, background-color 15ms linear;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded__1C23s:before {
	-webkit-transform: scale(1);
	-webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
	transform: scale(1);
	transform: scale(var(--mdc-ripple-fg-scale, 1));
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded__1C23s:after {
	top: 0;
	left: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded--unbounded__2a9U0:after {
	top: 0;
	top: var(--mdc-ripple-top, 0);
	left: 0;
	left: var(--mdc-ripple-left, 0);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded--foreground-activation__38u5p:after {
	-webkit-animation: mdc-list__mdc-ripple-fg-radius-in__1AyJX 225ms forwards,
		mdc-list__mdc-ripple-fg-opacity-in__4IR41 75ms forwards;
	animation: mdc-list__mdc-ripple-fg-radius-in__1AyJX 225ms forwards,
		mdc-list__mdc-ripple-fg-opacity-in__4IR41 75ms forwards;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded--foreground-deactivation__Yr9uU:after {
	-webkit-animation: mdc-list__mdc-ripple-fg-opacity-out__bavfx 0.15s;
	animation: mdc-list__mdc-ripple-fg-opacity-out__bavfx 0.15s;
	-webkit-transform: translate(0) scale(1);
	-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0))
		scale(var(--mdc-ripple-fg-scale, 1));
	transform: translate(0) scale(1);
	transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_) > .mdc-list__mdc-list-item--disabled__1Vp9w:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w:before {
	top: calc(50% - 100%);
	left: calc(50% - 100%);
	width: 200%;
	height: 200%;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded__1C23s:after {
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%);
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_) > .mdc-list__mdc-list-item--disabled__1Vp9w:after,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w:before {
	background-color: #000;
}
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w.mdc-list__mdc-ripple-upgraded--background-focused__3N-Hk:before,
:not(.mdc-list__mdc-list--non-interactive__2-3z_)
	> .mdc-list__mdc-list-item--disabled__1Vp9w:not(.mdc-list__mdc-ripple-upgraded__1C23s):focus:before {
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms;
	opacity: 0.12;
}
.list-m__root__IsS88 {
	padding: 8px 0;
	background: var(--mdc-raised-surface-background) !important;
	color: var(--mdc-text-color);
}
/*# sourceMappingURL=list.m.css.map*/
