.mdc-drawer__mdc-drawer__tBP0G {
	background-color: #fff;
	border-radius: 0 0 0 0;
	z-index: 6;
	width: 256px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	border-right: 1px solid;
	border-color: rgba(0, 0, 0, 0.12);
	overflow: hidden;
	transition-property: -webkit-transform;
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-drawer__title__3HxO- {
	color: rgba(0, 0, 0, 0.87);
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-drawer__subtitle__3yvFS,
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-group__subheader__1p5hm,
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__graphic__2B49g {
	color: rgba(0, 0, 0, 0.6);
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__3B-V9 {
	color: rgba(0, 0, 0, 0.87);
}
.mdc-drawer__mdc-drawer__tBP0G
	.mdc-drawer__mdc-list-item--activated__T78mI
	.mdc-drawer__mdc-list-item__graphic__2B49g {
	color: #6200ee;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item--activated__T78mI {
	color: rgba(98, 0, 238, 0.87);
}
.mdc-drawer__mdc-drawer__tBP0G[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer__tBP0G {
	border-radius: 0 0 0 0;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__3B-V9 {
	border-radius: 4px;
}
.mdc-drawer__mdc-drawer__tBP0G.mdc-drawer__mdc-drawer--open__1NvUm:not(.mdc-drawer__mdc-drawer--closing__18B0l)
	+ .mdc-drawer__mdc-drawer-app-content__1jvCe {
	margin-left: 256px;
	margin-right: 0;
}
.mdc-drawer__mdc-drawer__tBP0G.mdc-drawer__mdc-drawer--open__1NvUm:not(.mdc-drawer__mdc-drawer--closing__18B0l)
	+ .mdc-drawer__mdc-drawer-app-content__1jvCe[dir='rtl'],
[dir='rtl']
	.mdc-drawer__mdc-drawer__tBP0G.mdc-drawer__mdc-drawer--open__1NvUm:not(.mdc-drawer__mdc-drawer--closing__18B0l)
	+ .mdc-drawer__mdc-drawer-app-content__1jvCe {
	margin-left: 0;
	margin-right: 256px;
}
.mdc-drawer__mdc-drawer__tBP0G[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer__tBP0G {
	border-right-width: 0;
	border-left-width: 1px;
	border-right-style: none;
	border-left-style: solid;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__3B-V9 {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-subtitle2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-subtitle2-font-size, 0.875rem);
	line-height: 1.375rem;
	line-height: var(--mdc-typography-subtitle2-line-height, 1.375rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-subtitle2-font-weight, 500);
	letter-spacing: 0.0071428571em;
	letter-spacing: var(--mdc-typography-subtitle2-letter-spacing, 0.0071428571em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-subtitle2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-subtitle2-text-transform, inherit);
	height: calc(48px - 2 * 4px);
	margin: 8px;
	padding: 0 8px;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__3B-V9:first-child {
	margin-top: 2px;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__3B-V9:last-child {
	margin-bottom: 0;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-group__subheader__1p5hm {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-body2-font-size, 0.875rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-body2-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body2-font-weight, 400);
	letter-spacing: 0.0178571429em;
	letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body2-text-transform, inherit);
	display: block;
	line-height: normal;
	margin: 0;
	padding: 0 16px;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-group__subheader__1p5hm:before {
	display: inline-block;
	width: 0;
	height: 24px;
	content: '';
	vertical-align: 0;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-divider__eV1iP {
	margin: 3px 0 4px;
}
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__graphic__2B49g,
.mdc-drawer__mdc-drawer__tBP0G .mdc-drawer__mdc-list-item__text__3fec3 {
	pointer-events: none;
}
.mdc-drawer__mdc-drawer--animate__28JjH {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}
.mdc-drawer__mdc-drawer--animate__28JjH[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer--animate__28JjH {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.mdc-drawer__mdc-drawer--opening__32hKJ {
	-webkit-transform: translateX(0);
	transform: translateX(0);
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
}
.mdc-drawer__mdc-drawer--opening__32hKJ[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer--opening__32hKJ {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.mdc-drawer__mdc-drawer--closing__18B0l {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.mdc-drawer__mdc-drawer--closing__18B0l[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer--closing__18B0l {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}
.mdc-drawer__mdc-drawer__header__t57Ch {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 64px;
	padding: 0 16px 4px;
}
.mdc-drawer__mdc-drawer__title__3HxO- {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-headline6-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 1.25rem;
	font-size: var(--mdc-typography-headline6-font-size, 1.25rem);
	line-height: 2rem;
	line-height: var(--mdc-typography-headline6-line-height, 2rem);
	font-weight: 500;
	font-weight: var(--mdc-typography-headline6-font-weight, 500);
	letter-spacing: 0.0125em;
	letter-spacing: var(--mdc-typography-headline6-letter-spacing, 0.0125em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-headline6-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-headline6-text-transform, inherit);
	display: block;
	margin-top: 0;
	line-height: normal;
	margin-bottom: -20px;
}
.mdc-drawer__mdc-drawer__title__3HxO-:before {
	display: inline-block;
	width: 0;
	height: 36px;
	content: '';
	vertical-align: 0;
}
.mdc-drawer__mdc-drawer__title__3HxO-:after {
	display: inline-block;
	width: 0;
	height: 20px;
	content: '';
	vertical-align: -20px;
}
.mdc-drawer__mdc-drawer__subtitle__3yvFS {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-body2-font-size, 0.875rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-body2-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body2-font-weight, 400);
	letter-spacing: 0.0178571429em;
	letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body2-text-transform, inherit);
	display: block;
	margin-top: 0;
	line-height: normal;
	margin-bottom: 0;
}
.mdc-drawer__mdc-drawer__subtitle__3yvFS:before {
	display: inline-block;
	width: 0;
	height: 20px;
	content: '';
	vertical-align: 0;
}
.mdc-drawer__mdc-drawer__content__3xBfv {
	height: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.mdc-drawer__mdc-drawer--dismissible__3tJYp {
	left: 0;
	right: auto;
	display: none;
	position: absolute;
}
.mdc-drawer__mdc-drawer--dismissible__3tJYp[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer--dismissible__3tJYp {
	left: auto;
	right: 0;
}
.mdc-drawer__mdc-drawer--dismissible__3tJYp.mdc-drawer__mdc-drawer--open__1NvUm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.mdc-drawer__mdc-drawer-app-content__1jvCe {
	margin-left: 0;
	margin-right: 0;
	position: relative;
}
.mdc-drawer__mdc-drawer-app-content__1jvCe[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer-app-content__1jvCe {
	margin-left: 0;
	margin-right: 0;
}
.mdc-drawer__mdc-drawer--modal__HEJfA {
	-webkit-box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12);
	box-shadow: 0 8px 10px -5px rgba(0, 0, 0, 0.2), 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12);
	left: 0;
	right: auto;
	display: none;
	position: fixed;
}
.mdc-drawer__mdc-drawer--modal__HEJfA + .mdc-drawer__mdc-drawer-scrim__3Ao3k {
	background-color: rgba(0, 0, 0, 0.32);
}
.mdc-drawer__mdc-drawer--modal__HEJfA[dir='rtl'],
[dir='rtl'] .mdc-drawer__mdc-drawer--modal__HEJfA {
	left: auto;
	right: 0;
}
.mdc-drawer__mdc-drawer--modal__HEJfA.mdc-drawer__mdc-drawer--open__1NvUm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.mdc-drawer__mdc-drawer-scrim__3Ao3k {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.mdc-drawer__mdc-drawer--open__1NvUm + .mdc-drawer__mdc-drawer-scrim__3Ao3k {
	display: block;
}
.mdc-drawer__mdc-drawer--animate__28JjH + .mdc-drawer__mdc-drawer-scrim__3Ao3k {
	opacity: 0;
}
.mdc-drawer__mdc-drawer--opening__32hKJ + .mdc-drawer__mdc-drawer-scrim__3Ao3k {
	-webkit-transition-duration: 0.25s;
	transition-duration: 0.25s;
	opacity: 1;
}
.mdc-drawer__mdc-drawer--closing__18B0l + .mdc-drawer__mdc-drawer-scrim__3Ao3k {
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
	opacity: 0;
}
.slide-pane-m__root__2ewnA .slide-pane-m__pane__1d2VK {
	background-color: var(--mdc-raised-surface-background);
}
.slide-pane-m__root__2ewnA .slide-pane-m__closeIcon__2j9tH,
.slide-pane-m__root__2ewnA .slide-pane-m__content__2A_vi,
.slide-pane-m__root__2ewnA .slide-pane-m__titleContent__WiHNR {
	color: var(--mdc-text-color);
}
.slide-pane-m__title__3u5L6 {
	position: relative;
}
.slide-pane-m__content__2A_vi {
	padding: 0 16px 16px;
}
.slide-pane-m__left__3nhr4 {
	-webkit-transform: translateX(calc(-100% - 32px));
	transform: translateX(calc(-100% - 32px));
}
.slide-pane-m__right__1pot_ {
	left: auto;
	-webkit-transform: translateX(calc(100% + 32px));
	transform: translateX(calc(100% + 32px));
}
.slide-pane-m__top__1u2U2 {
	-webkit-transform: translateY(calc(-100% - 26px));
	transform: translateY(calc(-100% - 26px));
}
.slide-pane-m__bottom__m5bCu {
	-webkit-transform: translateY(calc(100% + 26px));
	transform: translateY(calc(100% + 26px));
}
.slide-pane-m__underlayVisible__2hDy0 {
	background: var(--mdc-theme-elevation-1);
}
.slide-pane-m__root__2ewnA .slide-pane-m__open__9yUzH {
	-webkit-transform: translate(0);
	transform: translate(0);
}
/*# sourceMappingURL=slide-pane.m.css.map*/
