@-webkit-keyframes mdc-slider__mdc-slider-emphasize__1r91i {
	0% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	50% {
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		-webkit-transform: scale(0.85);
		transform: scale(0.85);
	}
	to {
		-webkit-transform: scale(0.571);
		transform: scale(0.571);
	}
}
@keyframes mdc-slider__mdc-slider-emphasize__1r91i {
	0% {
		-webkit-animation-timing-function: ease-out;
		animation-timing-function: ease-out;
	}
	50% {
		-webkit-animation-timing-function: ease-in;
		animation-timing-function: ease-in;
		-webkit-transform: scale(0.85);
		transform: scale(0.85);
	}
	to {
		-webkit-transform: scale(0.571);
		transform: scale(0.571);
	}
}
.mdc-slider__mdc-slider__2Sxia {
	position: relative;
	width: 100%;
	height: 48px;
	cursor: pointer;
	-ms-touch-action: pan-x;
	touch-action: pan-x;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__track__2HNEV {
	background-color: #018786;
	background-color: var(--mdc-theme-secondary, #018786);
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__track-container__3AR_X:after {
	background-color: #018786;
	background-color: var(--mdc-theme-secondary, #018786);
	opacity: 0.26;
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__track-marker-container__3LlRp {
	background-color: #018786;
	background-color: var(--mdc-theme-secondary, #018786);
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__thumb__wOpDS {
	fill: #018786;
	fill: var(--mdc-theme-secondary, #018786);
	stroke: #018786;
	stroke: var(--mdc-theme-secondary, #018786);
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__focus-ring__OMQ1W {
	background-color: #018786;
	background-color: var(--mdc-theme-secondary, #018786);
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__pin__1QboS {
	background-color: #018786;
	background-color: var(--mdc-theme-secondary, #018786);
}
.mdc-slider__mdc-slider__2Sxia:not(.mdc-slider__mdc-slider--disabled__3oaqG)
	.mdc-slider__mdc-slider__pin__1QboS {
	color: #fff;
	color: var(--mdc-theme-text-primary-on-dark, #fff);
}
.mdc-slider__mdc-slider--disabled__3oaqG {
	cursor: auto;
}
.mdc-slider__mdc-slider--disabled__3oaqG .mdc-slider__mdc-slider__track__2HNEV {
	background-color: #9a9a9a;
}
.mdc-slider__mdc-slider--disabled__3oaqG .mdc-slider__mdc-slider__track-container__3AR_X:after {
	background-color: #9a9a9a;
	opacity: 0.26;
}
.mdc-slider__mdc-slider--disabled__3oaqG .mdc-slider__mdc-slider__track-marker-container__3LlRp {
	background-color: #9a9a9a;
}
.mdc-slider__mdc-slider--disabled__3oaqG .mdc-slider__mdc-slider__thumb__wOpDS {
	fill: #9a9a9a;
	stroke: #9a9a9a;
	stroke: #fff;
	stroke: var(--mdc-slider-bg-color-behind-component, #fff);
}
.mdc-slider__mdc-slider__2Sxia:focus {
	outline: none;
}
.mdc-slider__mdc-slider__track-container__3AR_X {
	position: absolute;
	top: 50%;
	width: 100%;
	height: 2px;
	overflow: hidden;
}
.mdc-slider__mdc-slider__track-container__3AR_X:after {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
}
.mdc-slider__mdc-slider__track__2HNEV {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	will-change: transform;
}
.mdc-slider__mdc-slider__2Sxia[dir='rtl'] .mdc-slider__mdc-slider__track__2HNEV,
[dir='rtl'] .mdc-slider__mdc-slider__2Sxia .mdc-slider__mdc-slider__track__2HNEV {
	-webkit-transform-origin: right top;
	transform-origin: right top;
}
.mdc-slider__mdc-slider__track-marker-container__3LlRp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-right: 0;
	margin-left: -1px;
	visibility: hidden;
}
.mdc-slider__mdc-slider__2Sxia[dir='rtl'] .mdc-slider__mdc-slider__track-marker-container__3LlRp,
[dir='rtl'] .mdc-slider__mdc-slider__2Sxia .mdc-slider__mdc-slider__track-marker-container__3LlRp {
	margin-right: -1px;
	margin-left: 0;
}
.mdc-slider__mdc-slider__track-marker-container__3LlRp:after {
	display: block;
	width: 2px;
	height: 2px;
	content: '';
}
.mdc-slider__mdc-slider__track-marker__c6nzB {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.mdc-slider__mdc-slider__track-marker__c6nzB:after {
	display: block;
	width: 2px;
	height: 2px;
	content: '';
}
.mdc-slider__mdc-slider__track-marker__c6nzB:first-child:after {
	width: 3px;
}
.mdc-slider__mdc-slider__thumb-container__76NoH {
	position: absolute;
	top: 15px;
	left: 0;
	width: 21px;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	will-change: transform;
}
.mdc-slider__mdc-slider__thumb__wOpDS {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: scale(0.571);
	transform: scale(0.571);
	stroke-width: 3.5;
	transition: fill 0.1s ease-out, stroke 0.1s ease-out, -webkit-transform 0.1s ease-out;
	-webkit-transition: fill 0.1s ease-out, stroke 0.1s ease-out, -webkit-transform 0.1s ease-out;
	transition: transform 0.1s ease-out, fill 0.1s ease-out, stroke 0.1s ease-out;
	transition: transform 0.1s ease-out, fill 0.1s ease-out, stroke 0.1s ease-out,
		-webkit-transform 0.1s ease-out;
}
.mdc-slider__mdc-slider__focus-ring__OMQ1W {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	opacity: 0;
	transition: opacity 0.26667s ease-out, background-color 0.26667s ease-out,
		-webkit-transform 0.26667s ease-out;
	-webkit-transition: opacity 0.26667s ease-out, background-color 0.26667s ease-out,
		-webkit-transform 0.26667s ease-out;
	transition: transform 0.26667s ease-out, opacity 0.26667s ease-out,
		background-color 0.26667s ease-out;
	transition: transform 0.26667s ease-out, opacity 0.26667s ease-out,
		background-color 0.26667s ease-out, -webkit-transform 0.26667s ease-out;
}
.mdc-slider__mdc-slider__pin__1QboS {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 26px;
	height: 26px;
	margin-top: -2px;
	margin-left: -2px;
	-webkit-transform: rotate(-45deg) scale(0) translate(0);
	transform: rotate(-45deg) scale(0) translate(0);
	border-radius: 50% 50% 50% 0;
	z-index: 1;
	transition: -webkit-transform 0.1s ease-out;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	transition: transform 0.1s ease-out;
	transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}
.mdc-slider__mdc-slider__pin-value-marker__5js_W {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: Roboto, sans-serif;
	font-family: var(
		--mdc-typography-body2-font-family,
		var(--mdc-typography-font-family, Roboto, sans-serif)
	);
	font-size: 0.875rem;
	font-size: var(--mdc-typography-body2-font-size, 0.875rem);
	line-height: 1.25rem;
	line-height: var(--mdc-typography-body2-line-height, 1.25rem);
	font-weight: 400;
	font-weight: var(--mdc-typography-body2-font-weight, 400);
	letter-spacing: 0.0178571429em;
	letter-spacing: var(--mdc-typography-body2-letter-spacing, 0.0178571429em);
	-webkit-text-decoration: inherit;
	-webkit-text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-decoration: inherit;
	text-decoration: var(--mdc-typography-body2-text-decoration, inherit);
	text-transform: inherit;
	text-transform: var(--mdc-typography-body2-text-transform, inherit);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mdc-slider__mdc-slider--active__e1e4p .mdc-slider__mdc-slider__thumb__wOpDS {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.mdc-slider__mdc-slider--focus__sR7kP .mdc-slider__mdc-slider__thumb__wOpDS {
	-webkit-animation: mdc-slider__mdc-slider-emphasize__1r91i 0.26667s linear;
	animation: mdc-slider__mdc-slider-emphasize__1r91i 0.26667s linear;
}
.mdc-slider__mdc-slider--focus__sR7kP .mdc-slider__mdc-slider__focus-ring__OMQ1W {
	-webkit-transform: scale3d(1.55, 1.55, 1.55);
	transform: scale3d(1.55, 1.55, 1.55);
	opacity: 0.25;
}
.mdc-slider__mdc-slider--in-transit__LmVyC .mdc-slider__mdc-slider__thumb__wOpDS {
	-webkit-transition-delay: 0.14s;
	transition-delay: 0.14s;
}
.mdc-slider__mdc-slider--in-transit__LmVyC .mdc-slider__mdc-slider__thumb-container__76NoH,
.mdc-slider__mdc-slider--in-transit__LmVyC .mdc-slider__mdc-slider__track__2HNEV,
.mdc-slider__mdc-slider__2Sxia:focus:not(.mdc-slider__mdc-slider--active__e1e4p)
	.mdc-slider__mdc-slider__thumb-container__76NoH,
.mdc-slider__mdc-slider__2Sxia:focus:not(.mdc-slider__mdc-slider--active__e1e4p)
	.mdc-slider__mdc-slider__track__2HNEV {
	transition: -webkit-transform 80ms ease;
	-webkit-transition: -webkit-transform 80ms ease;
	transition: transform 80ms ease;
	transition: transform 80ms ease, -webkit-transform 80ms ease;
}
.mdc-slider__mdc-slider--discrete__33zIm.mdc-slider__mdc-slider--active__e1e4p
	.mdc-slider__mdc-slider__thumb__wOpDS {
	-webkit-transform: scale(calc(12 / 21));
	transform: scale(calc(12 / 21));
}
.mdc-slider__mdc-slider--discrete__33zIm.mdc-slider__mdc-slider--active__e1e4p
	.mdc-slider__mdc-slider__pin__1QboS {
	-webkit-transform: rotate(-45deg) scale(1) translate(19px, -20px);
	transform: rotate(-45deg) scale(1) translate(19px, -20px);
}
.mdc-slider__mdc-slider--discrete__33zIm.mdc-slider__mdc-slider--focus__sR7kP
	.mdc-slider__mdc-slider__thumb__wOpDS {
	-webkit-animation: none;
	animation: none;
}
.mdc-slider__mdc-slider--discrete__33zIm.mdc-slider__mdc-slider--display-markers__3rjqd
	.mdc-slider__mdc-slider__track-marker-container__3LlRp {
	visibility: visible;
}
.slider-m__root__2P224 {
	display: block;
}
.slider-m__inputWrapper__38d5q {
	margin: var(--mdc-theme-grid-base) 0;
	position: relative;
}
.slider-m__track__3Yvz_ {
	position: relative;
}
.slider-m__root__2P224 .slider-m__track__3Yvz_ {
	overflow: visible;
}
.slider-m__thumb__1Yd1N {
	background-color: var(--mdc-theme-secondary);
	border-radius: 50%;
	height: 16px;
	margin-left: -7px;
	position: absolute;
	top: -7px;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	transition: -webkit-transform 0.1s ease-out;
	transition: transform 0.1s ease-out;
	transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
	width: 16px;
	-webkit-transform: scale(0.571);
	transform: scale(0.571);
	will-change: transform;
}
.slider-m__root__2P224 .slider-m__input__1z0e- {
	height: 16px;
	outline: none;
	top: -7px;
}
.slider-m__input__1z0e-::-ms-thumb {
	height: 16px;
	width: 16px;
}
.slider-m__input__1z0e-::-moz-range-thumb {
	height: 16px;
	width: 16px;
}
.slider-m__input__1z0e-::-webkit-slider-thumb {
	height: 16px;
	width: 16px;
}
.slider-m__input__1z0e-:active ~ .slider-m__track__3Yvz_ .slider-m__thumb__1Yd1N {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slider-m__thumb__1Yd1N:before {
	content: '';
	width: 32px;
	height: 32px;
	border-radius: 50%;
	opacity: 0.25;
	background-color: var(--mdc-theme-secondary);
	-webkit-transition: -webkit-transform 0.1s ease-out;
	transition: -webkit-transform 0.1s ease-out;
	transition: transform 0.1s ease-out;
	transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
	-webkit-transform: scale(0.571);
	transform: scale(0.571);
	will-change: transform;
	display: block;
	top: -8px;
	position: relative;
	left: -8px;
}
.slider-m__input__1z0e-:focus ~ .slider-m__track__3Yvz_ .slider-m__thumb__1Yd1N:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slider-m__input__1z0e-:focus:active ~ .slider-m__track__3Yvz_ .slider-m__thumb__1Yd1N:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.slider-m__input__1z0e-:focus ~ .slider-m__outputTooltip__2mIe-,
.slider-m__root__2P224:hover .slider-m__outputTooltip__2mIe- {
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}
.slider-m__output__3d9Tq {
	background-color: var(--mdc-theme-background);
	color: var(--mdc-text-color);
	display: inline-block;
	margin: var(--mdc-theme-grid-base) 0 0;
	padding: var(--mdc-theme-grid-base);
}
.slider-m__outputTooltip__2mIe- {
	margin: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: calc(var(--grid-base) * 2.5);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-webkit-transition: opacity var(--transition-duration) var(--transition-easing);
	transition: opacity var(--transition-duration) var(--transition-easing);
	background-color: var(--mdc-raised-surface-background);
	border-radius: var(--mdc-theme-border-radius);
}
.slider-m__outputTooltip__2mIe-:before {
	border-left: var(--grid-base) solid transparent;
	border-right: var(--grid-base) solid transparent;
	border-bottom: var(--grid-base) solid var(--color-background-inverted);
	content: '';
	left: 50%;
	margin-left: calc(var(--grid-base) * -1);
	margin-top: calc(var(--grid-base) * -1);
	position: absolute;
	top: 0;
}
.slider-m__vertical__2FhUn .slider-m__outputTooltip__2mIe- {
	left: calc(var(--grid-base) * 2.5);
	top: auto;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slider-m__vertical__2FhUn .slider-m__outputTooltip__2mIe-:before {
	border-bottom: var(--grid-base) solid transparent;
	border-left: 0;
	border-right: var(--grid-base) solid var(--color-background-inverted);
	border-top: var(--grid-base) solid transparent;
	left: 0;
	top: 50%;
}
.slider-m__vertical__2FhUn .slider-m__input__1z0e-,
.slider-m__vertical__2FhUn .slider-m__track__3Yvz_ {
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transform: rotate(-90deg) translate(-100%);
	transform: rotate(-90deg) translate(-100%);
}
.slider-m__disabled__36ZLC .slider-m__thumb__1Yd1N,
.slider-m__disabled__36ZLC .slider-m__track__3Yvz_,
.slider-m__readonly__3VwnH .slider-m__thumb__1Yd1N,
.slider-m__readonly__3VwnH .slider-m__track__3Yvz_ {
	background-color: var(--mdc-border-color);
}
.slider-m__invalid__21nx8 .slider-m__track__3Yvz_ {
	background-color: var(--mdc-theme-error);
}
.slider-m__invalid__21nx8 .slider-m__thumb__1Yd1N {
	border-color: var(--mdc-theme-error);
}
.slider-m__valid__2sEJL .slider-m__track__3Yvz_ {
	background-color: var(--mdc-theme-success);
}
.slider-m__valid__2sEJL .slider-m__thumb__1Yd1N {
	border-color: var(--mdc-theme-success);
}
/*# sourceMappingURL=slider.m.css.map*/
