.avatar-m__root__2mW0Q {
	font-size: 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-size: cover;
	font-family: var(--mdc-theme-font-family);
	-ms-flex-negative: 0;
	flex-shrink: 0;
	line-height: 1;
}
.avatar-m__avatarColor__1z95A {
	color: var(--mdc-theme-surface);
	background-color: var(--mdc-theme-primary);
}
.avatar-m__avatarColorSecondary__vucVh {
	color: var(--mdc-theme-surface);
	background-color: var(--mdc-theme-secondary);
}
.avatar-m__avatarOutline__2vN8x {
	background-color: var(--mdc-theme-background);
	border: 1px solid;
}
.avatar-m__avatarOutline__2vN8x.avatar-m__avatarColor__1z95A {
	color: var(--mdc-theme-primary);
	border-color: var(--mdc-theme-primary);
}
.avatar-m__avatarOutline__2vN8x.avatar-m__avatarColorSecondary__vucVh {
	color: var(--mdc-theme-secondary);
	border-color: var(--mdc-theme-secondary);
}
.avatar-m__small__3Q8ZD {
	width: var(--mdc-avatar-size-small);
	height: var(--mdc-avatar-size-small);
}
.avatar-m__medium__1Fi_h {
	width: var(--mdc-avatar-size-medium);
	height: var(--mdc-avatar-size-medium);
}
.avatar-m__large__3Dnl0 {
	width: var(--mdc-avatar-size-large);
	height: var(--mdc-avatar-size-large);
}
.avatar-m__circle__3E_eX {
	border-radius: 50%;
}
.avatar-m__square__1x2cM {
	border-radius: 0;
}
.avatar-m__rounded__1qNt1 {
	border-radius: var(--mdc-theme-border-radius);
}
.wizard-m__root__vBXOm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.wizard-m__vertical__17Lyx {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.wizard-m__horizontal__zLdlz .wizard-m__step__1dr9E {
	margin-right: 16px;
	white-space: nowrap;
}
.wizard-m__vertical__17Lyx .wizard-m__tail__Mq3pV {
	display: block;
	position: absolute;
	top: 0;
	left: calc(var(--mdc-avatar-size-medium) / 2);
	width: 1px;
	height: 100%;
	padding: calc(var(--mdc-theme-grid-base) * 5.5) 0 calc(var(--mdc-theme-grid-base) * 0.5);
}
.wizard-m__vertical__17Lyx .wizard-m__tail__Mq3pV:after {
	display: inline-block;
	width: 1px;
	height: 100%;
	background-color: var(--mdc-disabled-text-color);
	border-radius: 1px;
	content: '';
}
.wizard-m__complete__FbK5Q .wizard-m__tail__Mq3pV:after {
	background-color: var(--mdc-theme-primary);
}
.wizard-m__horizontal__zLdlz .wizard-m__tail__Mq3pV,
.wizard-m__vertical__17Lyx .wizard-m__step__1dr9E:last-child .wizard-m__tail__Mq3pV {
	display: none;
}
.wizard-m__step__1dr9E {
	position: relative;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	vertical-align: top;
}
.wizard-m__clickable__1OBmu .wizard-m__step__1dr9E {
	cursor: pointer;
}
.wizard-m__vertical__17Lyx .wizard-m__step__1dr9E {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	overflow: visible;
}
.wizard-m__vertical__17Lyx .wizard-m__stepIcon__32ivz {
	float: left;
	margin: 0 calc(var(--mdc-theme-grid-base) * 2) 0 0;
}
.wizard-m__stepContent__3vx7I {
	display: inline-block;
	vertical-align: top;
}
.wizard-m__vertical__17Lyx .wizard-m__stepContent__3vx7I {
	display: block;
	min-height: calc(var(--mdc-theme-grid-base) * 6);
	overflow: hidden;
}
.wizard-m__vertical__17Lyx .wizard-m__stepDescription__2uhCW {
	padding-bottom: calc(var(--mdc-theme-grid-base) * 1.5);
}
.wizard-m__stepTitle__3wxdA {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-right: calc(var(--mdc-theme-grid-base) * 2);
	color: var(--mdc-text-color);
	line-height: calc(var(--mdc-theme-grid-base) * 4);
}
.wizard-m__vertical__17Lyx .wizard-m__noDescription__2CfiE {
	padding-bottom: calc(var(--mdc-theme-grid-base) * 2.875);
}
.wizard-m__noTitle__1o4es {
	width: 0;
	padding-right: var(--mdc-theme-grid-base);
}
:not(.wizard-m__pending__3KMMF):not(.wizard-m__complete__FbK5Q).wizard-m__step__1dr9E
	.wizard-m__stepTitle__3wxdA {
	font-weight: var(--mdc-theme-heading-font-weight);
}
:not(.wizard-m__pending__3KMMF):not(.wizard-m__complete__FbK5Q).wizard-m__step__1dr9E
	.wizard-m__stepSubTitle__2A063 {
	font-weight: unset;
}
.wizard-m__stepTitle__3wxdA:after {
	position: absolute;
	top: calc(var(--mdc-theme-grid-base) * 2);
	left: 100%;
	display: block;
	width: 9999px;
	height: 1px;
	background: var(--mdc-disabled-text-color);
	content: '';
}
.wizard-m__step__1dr9E:last-child .wizard-m__stepTitle__3wxdA:after,
.wizard-m__vertical__17Lyx .wizard-m__stepTitle__3wxdA:after {
	display: none;
}
.wizard-m__complete__FbK5Q .wizard-m__stepTitle__3wxdA:after {
	background-color: var(--mdc-theme-primary);
}
.wizard-m__stepSubTitle__2A063 {
	display: inline;
	margin-left: var(--mdc-theme-grid-base);
	color: var(--mdc-text-color);
	font-size: var(--mdc-font-size-small);
}
.wizard-m__stepDescription__2uhCW {
	color: var(--mdc-text-color);
	font-size: var(--mdc-font-size-small);
	white-space: normal;
}
.wizard-m__completed__2o1n4 .wizard-m__stepTitle__3wxdA,
.wizard-m__stepDescription__2uhCW {
	opacity: 0.65;
}
.wizard-m__completed__2o1n4 .wizard-m__stepDescription__2uhCW,
.wizard-m__pending__3KMMF .wizard-m__stepDescription__2uhCW,
.wizard-m__pending__3KMMF .wizard-m__stepTitle__3wxdA,
.wizard-m__stepSubTitle__2A063 {
	opacity: 0.45;
}
.wizard-m__step__1dr9E:hover .wizard-m__stepDescription__2uhCW,
.wizard-m__step__1dr9E:hover .wizard-m__stepSubTitle__2A063,
.wizard-m__step__1dr9E:hover .wizard-m__stepTitle__3wxdA {
	color: var(--mdc-theme-primary);
	opacity: 1;
}
.wizard-m__stepIcon__32ivz {
	display: inline-block;
	vertical-align: top;
	margin-right: var(--mdc-theme-grid-base);
}
.wizard-m__root__vBXOm
	.wizard-m__pending__3KMMF.wizard-m__step__1dr9E
	.wizard-m__avatarRoot__3Dyp6 {
	color: var(--mdc-disabled-text-color);
	border-color: var(--mdc-disabled-text-color);
	opacity: 0.25;
}
.wizard-m__root__vBXOm
	.wizard-m__pending__3KMMF.wizard-m__step__1dr9E:hover
	.wizard-m__avatarRoot__3Dyp6 {
	color: var(--mdc-theme-primary);
	border-color: var(--mdc-theme-primary);
	opacity: 1;
}
.wizard-m__pendingAvatar__3fDL2 {
	color: var(--mdc-disabled-text-color);
}
.wizard-m__error__1skqV.wizard-m__step__1dr9E ~ .wizard-m__pending__3KMMF.wizard-m__step__1dr9E {
	cursor: unset;
}
.wizard-m__error__1skqV,
.wizard-m__error__1skqV .wizard-m__avatarRoot__3Dyp6,
.wizard-m__error__1skqV.wizard-m__step__1dr9E .wizard-m__stepDescription__2uhCW,
.wizard-m__error__1skqV.wizard-m__step__1dr9E .wizard-m__stepSubTitle__2A063,
.wizard-m__error__1skqV.wizard-m__step__1dr9E .wizard-m__stepTitle__3wxdA,
.wizard-m__error__1skqV.wizard-m__step__1dr9E:hover .wizard-m__stepDescription__2uhCW,
.wizard-m__error__1skqV.wizard-m__step__1dr9E:hover .wizard-m__stepSubTitle__2A063,
.wizard-m__error__1skqV.wizard-m__step__1dr9E:hover .wizard-m__stepTitle__3wxdA {
	color: var(--mdc-theme-error);
	border-color: var(--mdc-theme-error);
	opacity: 1;
}
/*# sourceMappingURL=wizard.m.css.map*/
