$darkest-blue:  rgb(0, 15, 32);
$dark-blue: #042c54;
$greenish-blue: #76b6c4;
$light-blue: #7fcdff;
$hover-blue: #0a6d94;
$blue: #1da2d8;
$lightest-blue: #ebf8fa;
$white-blue: #f6fbfc;
$gray: rgb(160, 160, 160);
$text-gray: rgb(117, 117, 117);
$border-gray: rgb(191, 192, 199);
$dark-gray: #333351;
$selected: #294864;
$hover-gray: rgb(31, 53, 75);
$light-gray: rgb(225, 229, 236);