@font-face {
	font-family: dojo2BaseTheme;
	src: url(fonts/1nCe3yIp.ttf) format('truetype'), url(fonts/ABoT2HN2.woff) format('woff'),
		url(fonts/1_O90p2I.svg#dojo2) format('svg');
	font-weight: 400;
	font-style: normal;
}
.icon-m__icon__2JzPg {
	font-family: dojo2BaseTheme !important;
	speak: none;
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-m__clockIcon__2S5I7:before {
	content: '\E94E';
}
.icon-m__eyeIcon__2UFzR:before {
	content: '\F06E';
}
.icon-m__eyeSlashIcon__1-jQ3:before {
	content: '\F070';
}
.icon-m__plusIcon__C2hAP:before {
	content: '\E145';
}
.icon-m__minusIcon__3yz6D:before {
	content: '\E15B';
}
.icon-m__checkIcon___SgNE:before {
	content: '\E5CA';
}
.icon-m__closeIcon__60eFq:before {
	content: '\E5CD';
}
.icon-m__leftIcon__86k5d:before {
	content: '\E314';
}
.icon-m__rightIcon__2jTr-:before {
	content: '\E315';
}
.icon-m__upIcon__C6vkW:before {
	content: '\E316';
}
.icon-m__downIcon__3YfxA:before {
	content: '\E313';
}
.icon-m__upAltIcon__2h5Ff:before {
	content: '\E5C7';
}
.icon-m__downAltIcon__1A_IX:before {
	content: '\E5C5';
}
.icon-m__searchIcon__1GW-J:before {
	content: '\E8B6';
}
.icon-m__barsIcon__33nJG:before {
	content: '\E5D2';
}
.icon-m__settingsIcon__mUrFB:before {
	content: '\E8B8';
}
.icon-m__alertIcon__tXYqM:before {
	content: '\E002';
}
.icon-m__helpIcon__AWIZ1:before {
	content: '\E887';
}
.icon-m__infoIcon__2nM8O:before {
	content: '\E88E';
}
.icon-m__cancelIcon__1gsBL:before {
	content: '\EA0D';
}
.icon-m__checkedBoxIcon__31wsd:before {
	content: '\EA52';
}
.icon-m__phoneIcon__2SYAN:before {
	content: '\E0CD';
}
.icon-m__editIcon__3z6EX:before {
	content: '\E254';
}
.icon-m__dateIcon__2Olo4:before {
	content: '\E916';
}
.icon-m__linkIcon__1NOjY:before {
	content: '\E157';
}
.icon-m__locationIcon__2MwHF:before {
	content: '\E8B4';
}
.icon-m__secureIcon__2AVyP:before {
	content: '\E899';
}
.icon-m__mailIcon__10-91:before {
	content: '\E0E1';
}
.icon-m__starIcon__1FwGO:before {
	content: '\E900';
}
.checkbox-m__root__25_UT {
	font-family: var(--font-family);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
	min-height: var(--line-height-base);
	padding: 0 0 0 calc(var(--grid-base) * 3);
	position: relative;
}
.checkbox-m__input__k7une {
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.checkbox-m__inputWrapper__J_orM {
	left: 0;
	position: absolute;
	top: calc(var(--grid-base) / 2);
}
.checkbox-m__inputWrapper__J_orM:after,
.checkbox-m__inputWrapper__J_orM:before {
	display: block;
	height: calc(var(--grid-base) * 2);
	width: calc(var(--grid-base) * 2);
}
.checkbox-m__inputWrapper__J_orM:after {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-border-strong);
	content: '';
}
.checkbox-m__inputWrapper__J_orM:before {
	color: var(--color-border-strong);
	font-size: var(--font-size-small);
	left: 0;
	line-height: calc(var(--grid-base) * 2);
	position: absolute;
	text-align: center;
	top: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: -webkit-transform var(--transition-duration) var(--transition-easing);
	transition: -webkit-transform var(--transition-duration) var(--transition-easing);
	transition: transform var(--transition-duration) var(--transition-easing);
	transition: transform var(--transition-duration) var(--transition-easing),
		-webkit-transform var(--transition-duration) var(--transition-easing);
	width: 100%;
}
.checkbox-m__checked__2GgYs .checkbox-m__inputWrapper__J_orM:before {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.checkbox-m__focused__1ox0Y .checkbox-m__inputWrapper__J_orM:before {
	color: var(--color-highlight);
}
.checkbox-m__focused__1ox0Y .checkbox-m__inputWrapper__J_orM:after {
	border: var(--border-width-emphasized) solid var(--color-highlight);
	-webkit-box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
}
.checkbox-m__focused__1ox0Y .checkbox-m__offLabel__3YMm8,
.checkbox-m__focused__1ox0Y .checkbox-m__onLabel__2S2Uj {
	color: var(--color-highlight);
}
.checkbox-m__disabled__1rzbj .checkbox-m__inputWrapper__J_orM:after,
.checkbox-m__readonly__1z_i8 .checkbox-m__inputWrapper__J_orM:after {
	background-color: var(--color-background-faded);
	border-color: var(--color-border);
}
.checkbox-m__invalid__3uIrz .checkbox-m__inputWrapper__J_orM:after {
	border-color: var(--color-error);
}
.checkbox-m__invalid__3uIrz .checkbox-m__inputWrapper__J_orM:before {
	color: var(--color-error);
}
.checkbox-m__valid__3n96h .checkbox-m__inputWrapper__J_orM:after {
	border-color: var(--color-success);
}
.checkbox-m__valid__3n96h .checkbox-m__inputWrapper__J_orM:before {
	color: var(--color-success);
}
/*# sourceMappingURL=checkbox.m.css.map*/
