.range-slider-m__root__104A- {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	font-family: var(--font-family);
	font-size: var(--font-size-base);
	line-height: var(--line-height-base);
}
.range-slider-m__inputWrapper__lTUjE {
	margin: var(--spacing-regular) 0;
	position: relative;
	background-color: var(--color-border-strong);
	height: var(--border-width);
	-webkit-transition: background var(--transition-duration) var(--transition-easing);
	transition: background var(--transition-duration) var(--transition-easing);
}
.range-slider-m__filled__XRsjH {
	height: 3px;
	top: -1px;
	background-color: var(--color-highlight);
}
.range-slider-m__thumb__qHz5U {
	background-color: var(--color-background);
	border: var(--border-width) solid var(--color-border-strong);
	border-radius: 50%;
	height: calc(var(--grid-base) * 2);
	left: 50%;
	margin-left: calc(var(--grid-base) * -1);
	position: absolute;
	top: -8px;
	-webkit-transition: border var(--transition-duration) var(--transition-easing),
		background var(--transition-duration) var(--transition-easing);
	transition: border var(--transition-duration) var(--transition-easing),
		background var(--transition-duration) var(--transition-easing);
	width: calc(var(--grid-base) * 2);
}
.range-slider-m__root__104A- .range-slider-m__input__3dB_q {
	height: 15px;
	outline: none;
	top: -7px;
}
.range-slider-m__input__3dB_q::-ms-thumb {
	height: var(--touch-target-min);
	width: var(--touch-target-min);
}
.range-slider-m__input__3dB_q::-moz-range-thumb {
	height: var(--touch-target-min);
	width: var(--touch-target-min);
}
.range-slider-m__input__3dB_q::-webkit-slider-thumb {
	height: var(--touch-target-min);
	width: var(--touch-target-min);
}
.range-slider-m__focused__355WG .range-slider-m__inputWrapper__lTUjE {
	background-color: var(--color-highlight);
}
.range-slider-m__focused__355WG .range-slider-m__inputWrapper__lTUjE .range-slider-m__thumb__qHz5U {
	border: var(--border-width-emphasized) solid var(--color-highlight);
	-webkit-box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
	box-shadow: var(--box-shadow-dimensions-small) var(--color-box-shadow-highlight);
}
.range-slider-m__focused__355WG .range-slider-m__filled__XRsjH {
	background-color: var(--color-highlight);
}
.range-slider-m__hasOutput__3mwgj {
	padding-bottom: calc(var(--grid-base) * 5);
}
.range-slider-m__focused__355WG .range-slider-m__outputTooltip__2RQbx,
.range-slider-m__root__104A-:hover .range-slider-m__outputTooltip__2RQbx {
	opacity: 1;
	pointer-events: auto;
	z-index: 1;
}
.range-slider-m__output__2IwRP {
	background-color: var(--color-background-inverted);
	color: var(--color-text-inverted);
	display: inline-block;
	margin: var(--spacing-regular) 0 0;
	padding: var(--spacing-regular);
}
.range-slider-m__outputTooltip__2RQbx {
	margin: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: calc(var(--grid-base) * 2.5);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
	-webkit-transition: opacity var(--transition-duration) var(--transition-easing);
	transition: opacity var(--transition-duration) var(--transition-easing);
}
.range-slider-m__outputTooltip__2RQbx:before {
	border-left: var(--grid-base) solid transparent;
	border-right: var(--grid-base) solid transparent;
	border-bottom: var(--grid-base) solid var(--color-background-inverted);
	content: '';
	left: 50%;
	margin-left: calc(var(--grid-base) * -1);
	margin-top: calc(var(--grid-base) * -1);
	position: absolute;
	top: 0;
}
.range-slider-m__disabled__3wxJ- .range-slider-m__inputWrapper__lTUjE,
.range-slider-m__readonly__2W81l .range-slider-m__inputWrapper__lTUjE {
	background-color: var(--color-border);
}
.range-slider-m__disabled__3wxJ- .range-slider-m__thumb__qHz5U,
.range-slider-m__readonly__2W81l .range-slider-m__thumb__qHz5U {
	background-color: var(--color-background-faded);
}
.range-slider-m__invalid__3jnT9 .range-slider-m__inputWrapper__lTUjE {
	background-color: var(--color-error);
}
.range-slider-m__invalid__3jnT9 .range-slider-m__thumb__qHz5U {
	border-color: var(--color-error);
}
.range-slider-m__invalid__3jnT9 .range-slider-m__filled__XRsjH {
	background-color: var(--color-error);
}
/*# sourceMappingURL=range-slider.m.css.map*/
