@font-face {
	font-family: dojo2BaseTheme;
	src: url(fonts/1nCe3yIp.ttf) format('truetype'), url(fonts/ABoT2HN2.woff) format('woff'),
		url(fonts/1_O90p2I.svg#dojo2) format('svg');
	font-weight: 400;
	font-style: normal;
}
.icon-m__icon__2JzPg {
	font-family: dojo2BaseTheme !important;
	speak: none;
	font-size: inherit;
	font-style: normal;
	font-weight: 400;
	-webkit-font-feature-settings: normal;
	font-feature-settings: normal;
	font-variant: normal;
	text-transform: none;
	line-height: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-m__clockIcon__2S5I7:before {
	content: '\E94E';
}
.icon-m__eyeIcon__2UFzR:before {
	content: '\F06E';
}
.icon-m__eyeSlashIcon__1-jQ3:before {
	content: '\F070';
}
.icon-m__plusIcon__C2hAP:before {
	content: '\E145';
}
.icon-m__minusIcon__3yz6D:before {
	content: '\E15B';
}
.icon-m__checkIcon___SgNE:before {
	content: '\E5CA';
}
.icon-m__closeIcon__60eFq:before {
	content: '\E5CD';
}
.icon-m__leftIcon__86k5d:before {
	content: '\E314';
}
.icon-m__rightIcon__2jTr-:before {
	content: '\E315';
}
.icon-m__upIcon__C6vkW:before {
	content: '\E316';
}
.icon-m__downIcon__3YfxA:before {
	content: '\E313';
}
.icon-m__upAltIcon__2h5Ff:before {
	content: '\E5C7';
}
.icon-m__downAltIcon__1A_IX:before {
	content: '\E5C5';
}
.icon-m__searchIcon__1GW-J:before {
	content: '\E8B6';
}
.icon-m__barsIcon__33nJG:before {
	content: '\E5D2';
}
.icon-m__settingsIcon__mUrFB:before {
	content: '\E8B8';
}
.icon-m__alertIcon__tXYqM:before {
	content: '\E002';
}
.icon-m__helpIcon__AWIZ1:before {
	content: '\E887';
}
.icon-m__infoIcon__2nM8O:before {
	content: '\E88E';
}
.icon-m__cancelIcon__1gsBL:before {
	content: '\EA0D';
}
.icon-m__checkedBoxIcon__31wsd:before {
	content: '\EA52';
}
.icon-m__phoneIcon__2SYAN:before {
	content: '\E0CD';
}
.icon-m__editIcon__3z6EX:before {
	content: '\E254';
}
.icon-m__dateIcon__2Olo4:before {
	content: '\E916';
}
.icon-m__linkIcon__1NOjY:before {
	content: '\E157';
}
.icon-m__locationIcon__2MwHF:before {
	content: '\E8B4';
}
.icon-m__secureIcon__2AVyP:before {
	content: '\E899';
}
.icon-m__mailIcon__10-91:before {
	content: '\E0E1';
}
.icon-m__starIcon__1FwGO:before {
	content: '\E900';
}
.result-m__root__1s4Al {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	font-family: var(--font-family);
}
.result-m__iconWrapper__1nmlS,
.result-m__root__1s4Al {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.result-m__iconWrapper__1nmlS {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.result-m__statusIcon__3PF2C {
	font-size: calc(var(--grid-base) * 9);
	font-weight: var(--bold-font-weight);
	height: calc(var(--grid-base) * 9);
	width: calc(var(--grid-base) * 9);
}
.result-m__actions__22GMb {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	margin: var(--grid-base);
}
.result-m__actionButtons__1epeV {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.result-m__contentWrapper__2esbQ {
	margin: var(--grid-base);
	color: var(--color-text-primary);
}
.result-m__content__3eBjD {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.result-m__titleWrapper__EmGbs {
	text-align: center;
	margin: var(--grid-base);
}
.result-m__title__1yfPE {
	font-size: var(--font-size-title);
	margin: 0;
	color: var(--color-text-primary);
}
.result-m__subtitle__3e_ij {
	color: var(--color-text-faded);
	font-size: var(--font-size-small);
	font-weight: var(--normal-font-weight);
	margin: 0;
}
.result-m__alert__3NSTh {
	color: var(--color-alert);
}
.result-m__error__1KZCT {
	color: var(--color-error);
}
.result-m__info__2T1qW {
	color: var(--color-info);
}
.result-m__success__3deJM {
	color: var(--color-success);
}
/*# sourceMappingURL=result.m.css.map*/
