.avatar-m__root__1VkSv {
	font-family: var(--font-family);
	font-size: 1.25rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	overflow: hidden;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-size: cover;
	line-height: 1;
}
.avatar-m__avatarColor__3OmuK {
	color: var(--color-text-inverted);
	background-color: var(--color-highlight);
}
.avatar-m__avatarColorSecondary__vkqqN {
	color: var(--color-text-inverted);
	background-color: var(--color-background-inverted);
}
.avatar-m__avatarOutline__3V0os {
	background-color: var(--color-background);
	border: 1px solid;
}
.avatar-m__avatarOutline__3V0os.avatar-m__avatarColor__3OmuK {
	color: var(--color-highlight);
	border-color: var(--color-highlight);
}
.avatar-m__avatarOutline__3V0os.avatar-m__avatarColorSecondary__vkqqN {
	color: var(--color-background-inverted);
	border-color: var(--color-background-inverted);
}
.avatar-m__small__2Tqpi {
	width: var(--avatar-size-small);
	height: var(--avatar-size-small);
}
.avatar-m__medium__2_v9Q {
	width: var(--avatar-size-medium);
	height: var(--avatar-size-medium);
}
.avatar-m__large__1bumt {
	width: var(--avatar-size-large);
	height: var(--avatar-size-large);
}
.avatar-m__circle__2IbnP {
	border-radius: 50%;
}
.avatar-m__square__32U8B {
	border-radius: 0;
}
.avatar-m__rounded__dtC5b {
	border-radius: var(--border-radius);
}
.wizard-m__root__2iUIp {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
.wizard-m__vertical__2vDAM {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.wizard-m__horizontal__1_AKq .wizard-m__step__21woP {
	margin-right: 16px;
	white-space: nowrap;
}
.wizard-m__vertical__2vDAM .wizard-m__tail__1Hp0u {
	display: block;
	position: absolute;
	top: 0;
	left: calc(var(--avatar-size-medium) / 2);
	width: 1px;
	height: 100%;
	padding: calc(var(--grid-base) * 5.5) 0 calc(var(--grid-base) * 0.5);
}
.wizard-m__vertical__2vDAM .wizard-m__tail__1Hp0u:after {
	display: inline-block;
	width: 1px;
	height: 100%;
	background-color: var(--color-text-faded);
	border-radius: 1px;
	content: '';
}
.wizard-m__complete__3qVCk .wizard-m__tail__1Hp0u:after {
	background-color: var(--color-highlight);
}
.wizard-m__horizontal__1_AKq .wizard-m__tail__1Hp0u,
.wizard-m__vertical__2vDAM .wizard-m__step__21woP:last-child .wizard-m__tail__1Hp0u {
	display: none;
}
.wizard-m__step__21woP {
	position: relative;
	display: inline-block;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	overflow: hidden;
	vertical-align: top;
}
.wizard-m__clickable__3Et7H .wizard-m__step__21woP {
	cursor: pointer;
}
.wizard-m__vertical__2vDAM .wizard-m__step__21woP {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	overflow: visible;
}
.wizard-m__vertical__2vDAM .wizard-m__stepIcon__Gw24Z {
	float: left;
	margin: 0 calc(var(--grid-base) * 2) 0 0;
}
.wizard-m__stepContent__3yQ4m {
	display: inline-block;
	vertical-align: top;
}
.wizard-m__vertical__2vDAM .wizard-m__stepContent__3yQ4m {
	display: block;
	min-height: calc(var(--grid-base) * 6);
	overflow: hidden;
}
.wizard-m__vertical__2vDAM .wizard-m__stepDescription__6ha3L {
	padding-bottom: calc(var(--grid-base) * 1.5);
}
.wizard-m__stepTitle__2Zdht {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding-right: calc(var(--grid-base) * 2);
	color: var(--color-text-primary);
	line-height: calc(var(--grid-base) * 4);
}
.wizard-m__vertical__2vDAM .wizard-m__noDescription__1y7Us {
	padding-bottom: calc(var(--grid-base) * 2.875);
}
.wizard-m__noTitle__1jd_e {
	width: 0;
	padding-right: var(--grid-base);
}
:not(.wizard-m__pending__fpWcB):not(.wizard-m__complete__3qVCk).wizard-m__step__21woP
	.wizard-m__stepTitle__2Zdht {
	font-weight: var(--bold-font-weight);
}
:not(.wizard-m__pending__fpWcB):not(.wizard-m__complete__3qVCk).wizard-m__step__21woP
	.wizard-m__stepSubTitle__2YkEk {
	font-weight: var(--normal-font-weight);
}
.wizard-m__stepTitle__2Zdht:after {
	position: absolute;
	top: calc(var(--grid-base) * 2);
	left: 100%;
	display: block;
	width: 9999px;
	height: 1px;
	background: var(--color-text-faded);
	content: '';
}
.wizard-m__step__21woP:last-child .wizard-m__stepTitle__2Zdht:after,
.wizard-m__vertical__2vDAM .wizard-m__stepTitle__2Zdht:after {
	display: none;
}
.wizard-m__complete__3qVCk .wizard-m__stepTitle__2Zdht:after {
	background-color: var(--color-highlight);
}
.wizard-m__stepSubTitle__2YkEk {
	display: inline;
	margin-left: var(--grid-base);
	color: var(--color-text-primary);
	font-size: var(--font-size-small);
}
.wizard-m__stepDescription__6ha3L {
	color: var(--color-text-primary);
	font-size: var(--font-size-small);
	white-space: normal;
}
.wizard-m__completed__2iahV .wizard-m__stepTitle__2Zdht,
.wizard-m__stepDescription__6ha3L {
	opacity: 0.65;
}
.wizard-m__completed__2iahV .wizard-m__stepDescription__6ha3L,
.wizard-m__pending__fpWcB .wizard-m__stepDescription__6ha3L,
.wizard-m__pending__fpWcB .wizard-m__stepTitle__2Zdht,
.wizard-m__stepSubTitle__2YkEk {
	opacity: 0.45;
}
.wizard-m__step__21woP:hover .wizard-m__stepDescription__6ha3L,
.wizard-m__step__21woP:hover .wizard-m__stepSubTitle__2YkEk,
.wizard-m__step__21woP:hover .wizard-m__stepTitle__2Zdht {
	color: var(--color-highlight);
	opacity: 1;
}
.wizard-m__stepIcon__Gw24Z {
	display: inline-block;
	vertical-align: top;
	margin-right: var(--grid-base);
}
.wizard-m__root__2iUIp
	.wizard-m__pending__fpWcB.wizard-m__step__21woP
	.wizard-m__avatarRoot__1sj-_ {
	color: var(--color-text-faded);
	border-color: var(--color-text-faded);
	opacity: 0.25;
}
.wizard-m__root__2iUIp
	.wizard-m__pending__fpWcB.wizard-m__step__21woP:hover
	.wizard-m__avatarRoot__1sj-_ {
	color: var(--color-highlight);
	border-color: var(--color-highlight);
	opacity: 1;
}
.wizard-m__error__RD4j-.wizard-m__step__21woP ~ .wizard-m__pending__fpWcB.wizard-m__step__21woP {
	cursor: unset;
}
.wizard-m__error__RD4j-,
.wizard-m__error__RD4j- .wizard-m__avatarRoot__1sj-_,
.wizard-m__error__RD4j-.wizard-m__step__21woP .wizard-m__stepDescription__6ha3L,
.wizard-m__error__RD4j-.wizard-m__step__21woP .wizard-m__stepSubTitle__2YkEk,
.wizard-m__error__RD4j-.wizard-m__step__21woP .wizard-m__stepTitle__2Zdht,
.wizard-m__error__RD4j-.wizard-m__step__21woP:hover .wizard-m__stepDescription__6ha3L,
.wizard-m__error__RD4j-.wizard-m__step__21woP:hover .wizard-m__stepSubTitle__2YkEk,
.wizard-m__error__RD4j-.wizard-m__step__21woP:hover .wizard-m__stepTitle__2Zdht {
	color: var(--color-error);
	border-color: var(--color-error);
	opacity: 1;
}
/*# sourceMappingURL=wizard.m.css.map*/
